﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="text-center">
    <div class="card">
        <div class="card-header">
            <h4>Account confirmed successfuly!</h4>
        </div>
        <div class="card-body">
            <a class="btn btn-lg btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
</div>