﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Registration";
}

@section Styles{
    <link rel="stylesheet" runat="server" media="screen" href="~/css/styleForRegistrationLogin.css" />
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="nav-item">
                <a class="nav-link active" id="nav-item-player" href="#tab-player" aria-controls="tab-player" role="tab" data-toggle="tab">Player</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" id="nav-item-renter" href="#tab-renter" aria-controls="tab-renter" role="tab" data-toggle="tab">Renter</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab-player">
                <hr />
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <!--source: https://codepen.io/jacoahmad/pen/mmYRqe/-->

                            <div class="row d-flex justify-content-center form-group" style="height:150px;">
                                <div class="small-12 medium-2 large-2 columns d-flex justify-content-center">
                                    <div class="circle d-flex justify-content-center  align-items-center">
                                        <img class="profile-pic" id="profile-pic-player" src="">
                                        <!-- Default Image -->
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="p-image align-self-end">
                                        <i class="fa fa-camera upload-button" id="upload-button-player"></i>
                                        <input asp-for="Input.ProfilePicture" class="file-upload custom-file-input" id="file-upload-player" type="file" accept="image/*" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.UserName"></label>
                                <input asp-for="Input.UserName" class="form-control" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <button type="submit" name="userType" value="player" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab-renter">
                <hr />
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <!--source: https://codepen.io/jacoahmad/pen/mmYRqe/-->

                            <div class="row d-flex justify-content-center form-group" style="height:150px;">
                                <div class="small-12 medium-2 large-2 columns d-flex justify-content-center">
                                    <div class="circle d-flex justify-content-center  align-items-center">
                                        <img class="profile-pic" id="profile-pic-renter" src="">
                                        <!-- Default Image -->
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="p-image align-self-end">
                                        <i class="fa fa-camera upload-button" id="upload-button-renter"></i>
                                        <input asp-for="Input.ProfilePicture" class="file-upload custom-file-input" id="file-upload-renter" type="file" accept="image/*" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.UserName"></label>
                                <input asp-for="Input.UserName" class="form-control" />
                                <span asp-validation-for="Input.UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label asp-for="AdditionalInput.CompanyName"></label>
                                <input asp-for="AdditionalInput.CompanyName" class="form-control" />
                                <span asp-validation-for="AdditionalInput.CompanyName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AdditionalInput.Address"></label>
                                <input asp-for="AdditionalInput.Address" class="form-control" />
                                <span asp-validation-for="AdditionalInput.Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AdditionalInput.PhoneNumber"></label>
                                <input asp-for="AdditionalInput.PhoneNumber" class="form-control" />
                                <span asp-validation-for="AdditionalInput.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AdditionalInput.WebAddress"></label>
                                <input asp-for="AdditionalInput.WebAddress" class="form-control" />
                                <span asp-validation-for="AdditionalInput.WebAddress" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AdditionalInput.OIB"></label>
                                <input asp-for="AdditionalInput.OIB" class="form-control" />
                                <span asp-validation-for="AdditionalInput.OIB" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <button type="submit" name="userType" value="renter" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
    <!--
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {


            var readURL = function (input) {
                console.log(input.id);

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        if (input.id.includes("player")) {
                            $('#profile-pic-player').attr('src', e.target.result);
                        } else {
                            $('#profile-pic-renter').attr('src', e.target.result);
                        }

                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }


            $("#file-upload-player").on('change', function (e) {
                readURL(this);
            });

            $("#file-upload-renter").on('change', function (e) {
                readURL(this);
            });


            $("#upload-button-player").on('click', function () {
                $("#file-upload-player").click();
            });
            $("#upload-button-renter").on('click', function () {
                $("#file-upload-renter").click();
            });

            var typeOfUser = "@ViewBag.SubmittedForm";
            if (typeOfUser == "player") {
                $('#nav-item-player').click();
            } else if (typeOfUser == "renter") {
                $('#nav-item-renter').click();
            } else {
                $('#nav-item-player').click();
            }
        });
    </script>
}
