﻿@model GameEx.Models.GroupInvitation


<div class="text-center d-flex justify-content-center editorRow">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="InvitedPlayerId" class="form-control InvitedPlayerAutocomplete text-center" placeholder="Player username..." />
    </div>
    <div class="ml-2">
        <a class="fa fa-times text-secondary deleteRow"></a>
    </div>
</div>
