﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    string userId = UserManager.GetUserId(User);
    string imgDataURL = null;
    if (SignInManager.IsSignedIn(User))
    {
        var byteData = UserManager.GetUserAsync(User).Result.ProfileImage;
        if (byteData != null)
        {
            string imreBase64Data = Convert.ToBase64String(byteData);
            imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
        }
    }

}
    <ul class="navbar-nav navbar-dark d-flex flex-wrap flex-grow-1">
        <li class="flex-grow-1 mt-1">
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="Index" asp-controller="Search" method="get" class="ui-widget input-group"
                      style="max-width:375px;">
                    <input id="SearchField" name="query" value="" class="form-control" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-info"><span class="fa fa-search"></span></button>
                    </div>

                </form>
            }
        </li>
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item text-white-50 d-flex ml-2 mt-1">
                @if (imgDataURL != null)
                {
                    <img src="@imgDataURL" class="avatar" />
                }
                else
                {
                    <div class="d-flex align-self-center align-items-center">
                        <span class="fa fa-lg fa-user">

                        </span>
                    </div>
                }
                <div class="flex-grow-1">
                    <a class="nav-link btn btn-link" asp-controller="Home" asp-action="Profile" asp-route-id="@userId" title="Manage">@User.Identity.Name</a>
                </div>

            </li>
            @if(await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Moderator"))
            {
                <li class="nav-item text-white-50 mr-5 d-flex align-items-center ml-2 mt-1">
                    <div>
                        <span class="text-primary fa fa-comment"></span>
                    </div>
                    <div class="flex-grow-1">
                        <a class="nav-link btn btn-link" asp-controller="Chat" asp-action="AllMessagesModerator">Moderator messages</a>
                    </div>
                </li>
            }
            <li class="nav-item text-white-50 mr-5 d-flex align-items-center ml-2 mt-1">
                <div>
                    <span class="text-primary fa fa-comment"></span>
                </div>
                <div class="flex-grow-1">
                    <a class="nav-link btn btn-link" asp-controller="Chat" asp-action="AllMessages">Messages</a>
                </div>
            </li>
            <li class="nav-item text-white-50 mt-1">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-link nav-link">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item text-white-50">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item text-white-50">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
