﻿@model GameEx.ViewModels.PotentialExchangeViewModel

@{
    ViewData["Title"] = "Create Exchange";
}

@{
    string imgDataURL1 = null;
    var byteData = @Model.Initiator.User.ProfileImage;
    if (byteData != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteData);
        imgDataURL1 = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }
    string imgDataURL2 = null;
    var byteData2 = @Model.TargetPlayer.User.ProfileImage;
    if (byteData != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteData2);
        imgDataURL2 = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }

}

<h1>Create this trade?</h1>

<hr />
<div>
    <h4>Exchange</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Initiator
        </dt>
        <dd class="col-sm-4">
            @if (imgDataURL1 != null)
            {
                <img src="@imgDataURL1" class="avatar" />
            }
        </dd>
        <dt class="col-sm-2">
            Target Player
        </dt>
        <dd class="col-sm-4">
            @if (imgDataURL2 != null)
            {
                <img src="@imgDataURL2" class="avatar" />
            }
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Initiator.User.UserName)
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.TargetPlayer.User.UserName)
        </dd>

        <dt class="col-sm-2">
            Offered Game
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.OfferedGame.Game.Name)
        </dd>

        <dt class="col-sm-2">
            Wanted Game
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.WantedGame.Game.Name)
        </dd>

        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            <img width="60%" src="@Model.OfferedGame.Game.PhotoUrl" />
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            <img width="60%" src="@Model.WantedGame.Game.PhotoUrl" />
        </dd>

        

    </dl>
</div>

<br />
<hr />
<div class="row">
    <dd class="col-sm-3"></dd>
    <dd class="col-sm-3">
        <form asp-action="Create" method="post"
              asp-route-targID="@Model.TargetPlayer.Id"
              asp-route-wantId="@Model.WantedGame.Game.Id"
              asp-route-offerId="@Model.OfferedGame.Game.Id">
            <button style="font-size:large" type="submit" class="btn btn-outline-success" title="Request Exchange"><i class="fas fa-check"> Request Exchange</i></button>
        </form>
    </dd>
    <dd class="col-sm-4">
        <form asp-action="CancelExchange"
              asp-route-targID="@Model.TargetPlayer.Id">
            <button style="font-size:large" type="submit" class="btn btn-outline-danger" title="CancelExchange"><i class="fas fa-times"> Cancel</i></button>
        </form>
    </dd>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
