﻿@model GameEx.Models.Exchange

@{
    ViewData["Title"] = "Exchange Details";
}

@{
    string imgDataURL1 = null;
    var byteData = @Model.Initiator.User.ProfileImage;
    if (byteData != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteData);
        imgDataURL1 = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }
    string imgDataURL2 = null;
    var byteData2 = @Model.TargetPlayer.User.ProfileImage;
    if (byteData != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteData2);
        imgDataURL2 = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }

}

<h1>Details</h1>

<div>
    <h4>Exchange</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Initiator
        </dt>
        <dd class="col-sm-4">
            @if (imgDataURL1 != null)
            {
                <img src="@imgDataURL1" class="avatar" />
            }
        </dd>
        <dt class="col-sm-2">
            Target Player
        </dt>
        <dd class="col-sm-4">
            @if (imgDataURL2 != null)
            {
                <img src="@imgDataURL2" class="avatar" />
            }
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Initiator.User.UserName)
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.TargetPlayer.User.UserName)
        </dd>

        <dt class="col-sm-2">
            Offered Game
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.OfferedGame.Name)
        </dd>

        <dt class="col-sm-2">
            Wanted Game
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.WantedGame.Name)
        </dd>

        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            <img width="60%" src="@Model.OfferedGame.PhotoUrl" />
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            <img width="60%" src="@Model.WantedGame.PhotoUrl" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfferedGame.Description)
        </dt>
        <dd class="col-sm-4">
            @Html.Raw(Model.OfferedGame.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WantedGame.Description)
        </dt>
        <dd class="col-sm-4">
            @Html.Raw(Model.WantedGame.Description)
        </dd>
        <dt class="col-sm-2">

        </dt>
        </dt>
        <dd class="col-sm-4">
            <a href="@Model.OfferedGame.Link">More info...</a>
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-4">
            <a href="@Model.WantedGame.Link">More info...</a>
        </dd>

        <dt class="col-sm-12"> </dt>
        <dt class="col-sm-2">
            Time Created
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            Exchange Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExchangeStatus.Name)
        </dd>
    </dl>
</div>
<br />
<hr />
<div class="row text-center">
    @if (Model.ExchangeStatusId == "02")
    {

        <form asp-action="ReturnGame"
              asp-route-initId="@Model.InitiatorId"
              asp-route-targID="@Model.TargetPlayer.Id"
              asp-route-wantId="@Model.WantedGame.Id"
              asp-route-offerId="@Model.OfferedGame.Id"
              asp-route-created="@Model.Created.ToString()"
              class="col-12">
            <button style="font-size:large" type="submit" class="btn btn-outline-primary" title="ReturnGame"><i class="fas fa-undo-alt"></i> Return Game</button>
        </form>
        <br />
    }
    else if (Model.ExchangeStatusId == "00" && ViewBag.currentId == Model.TargetPlayerId)
    {
        <div class="col-sm-2"></div>
        if (ViewBag.inexchange == 0)
        {
            <div class="col-sm-4">
                <form asp-action="Accept" method="post"
                      asp-route-initId="@Model.InitiatorId"
                      asp-route-targID="@Model.TargetPlayer.Id"
                      asp-route-wantId="@Model.WantedGame.Id"
                      asp-route-offerId="@Model.OfferedGame.Id"
                      asp-route-created="@Model.Created.ToString()"
                      asp-route-where="details"
                      class="col-12">
                    <button style="font-size:x-large" type="submit" class="btn btn-outline-success" title="Accept"><i class="fas fa-check"> Accept Exchange</i></button>
                </form>
            </div>
            <div class="col-sm-4">
                <form asp-action="Reject" method="post"
                      asp-route-initId="@Model.InitiatorId"
                      asp-route-targID="@Model.TargetPlayer.Id"
                      asp-route-wantId="@Model.WantedGame.Id"
                      asp-route-offerId="@Model.OfferedGame.Id"
                      asp-route-created="@Model.Created.ToString()"
                      class="col-12">
                    <button style="font-size:x-large" type="submit" class="btn btn-outline-danger" title="Reject"><i class="fas fa-times"> Reject Exchange</i></button>
                </form>
            </div>
        }
        else
        {
            <div class="col-sm-6"><i class="far fa-exclamation-triangle"></i> One of the games is currently unavailable for exchange </div>
            <div class="col-sm-4">
                <form asp-action="Reject" method="post"
                      asp-route-initId="@Model.InitiatorId"
                      asp-route-targID="@Model.TargetPlayer.Id"
                      asp-route-wantId="@Model.WantedGame.Id"
                      asp-route-offerId="@Model.OfferedGame.Id"
                      asp-route-created="@Model.Created.ToString()"
                      class="col-12">
                    <button style="font-size:x-large" type="submit" class="btn btn-outline-danger" title="Reject"><i class="fas fa-times"> Reject Exchange</i></button>
                </form>
            </div>
        }


        <br />

    }

</div>
<br />
<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>
<br />