﻿@model GameEx.ViewModels.ExchangesViewModel

@{ ViewData["Title"] = "Index"; }


@{ string imgDataUrl = null;
    var byteDataImg = ViewBag.User.ProfileImage;
    if (byteDataImg != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteDataImg);
        imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
    } }
@section Sidebar{
    <div>
        <nav class="sidenav">
            <div>

                <div class="text-center">
                    <img src="@imgDataUrl" class="avatar" />
                </div>
                <div class="text-center text-white">
                    <h3>@ViewBag.User.UserName</h3>
                </div>
                <div class="text-center text-secondary">
                    <h6>@ViewBag.User.Email</h6>
                </div>
            </div>
            <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a href="../../Identity/Account/Manage">Account settings</a>}
            <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a  class="bg-secondary" asp-action="Index" asp-controller="Exchanges">My exchanges</a>
                    <a asp-action="Index" asp-controller="Rentals">My rentals</a>
                                        <a asp-action="Index" asp-controller="GroupInvitations">Group Invitations</a>}
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a asp-action="Index" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">My groups</a>}
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a asp-action="Index" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">My collection</a>}
            <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a asp-action="Create" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">Add game to collection</a>
                    <a asp-action="Create" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">Create group</a>}
        </nav>
    </div>

}


<h1>My Exchanges</h1>


<h4>Initated Exchanges</h4>
<hr />

<div class="row">
    <cs-pager cs-paging-pagenumber="Model.Initiated.PageNumber"
              cs-paging-totalitems="Model.Initiated.TotalItems"
              cs-paging-pagesize="Model.Initiated.PageSize"
              cs-pagenumber-param="page_number1"
              asp-controller="Exchanges"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Exchanged with
                </th>
                <th>
                    Wanted Game
                </th>
                <th>
                    Offered Game
                </th>
                <th>
                    Exchange Status
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Initiated.Data)
            {
<tr>
    <td class="vertical-align-middle">
        @{ string imgDataURL = null;
            var byteData = item.TargetPlayer.User.ProfileImage;
            if (byteData != null)
            {
                string imreBase64Data = Convert.ToBase64String(byteData);
                imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
            } }
        <div class="list-inline-item">
            <img src="@imgDataURL" class="avatar" />
            @Html.DisplayFor(modelItem => item.TargetPlayer.User.UserName)
        </div>
    </td>
    <td class="vertical-align-middle">
        <img src="@item.WantedGame.ThumbnailUrl" width="75px" />
        @Html.DisplayFor(modelItem => item.WantedGame.Name)
    </td>
    <td class="vertical-align-middle">
        <img src="@item.OfferedGame.ThumbnailUrl" width="75px" />
        @Html.DisplayFor(modelItem => item.OfferedGame.Name)
    </td>
    <td class="vertical-align-middle">
        @Html.DisplayFor(modelItem => item.ExchangeStatus.Name)

    </td>
    <td class="vertical-align-middle">
        <form asp-action="Details"
              asp-route-initId="@item.Initiator.Id"
              asp-route-targID="@item.TargetPlayer.Id"
              asp-route-wantId="@item.WantedGame.Id"
              asp-route-offerId="@item.OfferedGame.Id"
              asp-route-created="@item.Created.ToString()">
            <button type="submit" class="btn" title="Details"><i class="fas fa-info-circle"></i></button>
        </form>
    </td>
</tr>
}
        </tbody>
    </table>
    <cs-pager cs-paging-pagenumber="Model.Initiated.PageNumber"
              cs-paging-totalitems="Model.Initiated.TotalItems"
              cs-paging-pagesize="Model.Initiated.PageSize"
              cs-pagenumber-param="page_number1"
              asp-controller="Exchanges"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>

<br />
<h4>Targeted Exchanges</h4>
<hr />
<div class="row">
    <cs-pager cs-paging-pagenumber="Model.Targeted.PageNumber"
              cs-paging-totalitems="Model.Targeted.TotalItems"
              cs-paging-pagesize="Model.Targeted.PageSize"
              cs-pagenumber-param="page_number2"
              asp-controller="Exchanges"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Initiated by
                </th>
                <th>
                    Wanted Game
                </th>
                <th>
                    Offered Game
                </th>
                <th>
                    Exchange Status
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Targeted.Data)
            {

                int a = Model.Targeted.Data.IndexOf(item);
                bool yes = Model.inExchange[a];


<tr>
    <td class="vertical-align-middle">
        @{ string imgDataURL = null;
            var byteData = item.TargetPlayer.User.ProfileImage;
            if (byteData != null)
            {
                string imreBase64Data = Convert.ToBase64String(byteData);
                imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
            } }
        <div class="list-inline-item">
            <img src="@imgDataURL" class="avatar" />
            @Html.DisplayFor(modelItem => item.Initiator.User.UserName)
        </div>

    </td>
    <td class="vertical-align-middle">
        <img src="@item.WantedGame.ThumbnailUrl" width="75px" />
        @Html.DisplayFor(modelItem => item.WantedGame.Name)
    </td>
    <td class="vertical-align-middle">
        <img src="@item.OfferedGame.ThumbnailUrl" width="75px" />
        @Html.DisplayFor(modelItem => item.OfferedGame.Name)
    </td>
    <td class="vertical-align-middle">
        @Html.DisplayFor(modelItem => item.ExchangeStatus.Name)
    </td>

    @if (item.ExchangeStatusId == "00" && !yes)
    {
<td class="vertical-align-middle">
    <form asp-action="Accept" method="post"
          asp-route-initId="@item.Initiator.Id"
          asp-route-targID="@item.TargetPlayer.Id"
          asp-route-wantId="@item.WantedGame.Id"
          asp-route-offerId="@item.OfferedGame.Id"
          asp-route-created="@item.Created.ToString()"
          asp-route-where="index">
        <button type="submit" class="btn" title="Accept"><i class="fas fa-check"></i></button>
    </form>
</td>
                    <td class="vertical-align-middle">
                        <form asp-action="Reject" method="post"
                              asp-route-initId="@item.Initiator.Id"
                              asp-route-targID="@item.TargetPlayer.Id"
                              asp-route-wantId="@item.WantedGame.Id"
                              asp-route-offerId="@item.OfferedGame.Id"
                              asp-route-created="@item.Created.ToString()">
                            <button type="submit" class="btn" title="Reject"><i class="fas fa-times"></i></button>
                        </form>
                    </td>
 }
                else if (item.ExchangeStatusId == "00" && yes)
                {
<td></td>
                    <td class="vertical-align-middle">
                        <form asp-action="Reject" method="post"
                              asp-route-initId="@item.Initiator.Id"
                              asp-route-targID="@item.TargetPlayer.Id"
                              asp-route-wantId="@item.WantedGame.Id"
                              asp-route-offerId="@item.OfferedGame.Id"
                              asp-route-created="@item.Created.ToString()">
                            <button type="submit" class="btn" title="Reject"><i class="fas fa-times"></i></button>
                        </form>
                    </td>
 }
                else
                {
<td></td>
                    <td></td>
}
    <td class="vertical-align-middle">
        <form asp-action="Details"
              asp-route-initId="@item.Initiator.Id"
              asp-route-targID="@item.TargetPlayer.Id"
              asp-route-wantId="@item.WantedGame.Id"
              asp-route-offerId="@item.OfferedGame.Id"
              asp-route-created="@item.Created.ToString()">
            <button type="submit" class="btn" title="Details"><i class="fas fa-info-circle"></i></button>
        </form>
    </td>

</tr>
}
        </tbody>
    </table>
    <cs-pager cs-paging-pagenumber="Model.Targeted.PageNumber"
              cs-paging-totalitems="Model.Targeted.TotalItems"
              cs-paging-pagesize="Model.Targeted.PageSize"
              cs-pagenumber-param="page_number2"
              asp-controller="Exchanges"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>