﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.Models.PlayerGame>

    @{
        ViewData["Title"] = "Offer";
    }

    <h1>Pick a game to offer</h1>

   
    <div class="row">
        <cs-pager cs-paging-pagenumber="Model.PageNumber"
                  cs-paging-totalitems="Model.TotalItems"
                  cs-paging-pagesize="Model.PageSize"
                  cs-pagenumber-param="page_number"
                  asp-controller="Exchanges"
                  asp-action="Offer"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link">

        </cs-pager>

        <table class="table">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th style="width:20%;">
                        Name
                    </th>
                    <th>
                        Players
                    </th>
                    <th style="width:15%;">
                        Playing time
                    </th>
                    <th>
                        Publisher
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Age
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            <img width="100px" height="100px" src="@item.Game.PhotoUrl" />
                        </td>
                        <td style="width:20%;">
                            <a href="@(item.Game.Link != null? item.Game.Link: "") ">
                                @Html.DisplayFor(modelItem => item.Game.Name)
                            </a>

                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Game.MinPlayers)
                            -
                            @Html.DisplayFor(modelItem => item.Game.MaxPlayers)
                        </td>
                        <td style="width:15%;">
                            @Html.DisplayFor(modelItem => item.Game.MinPlayingTime) min
                            -
                            @Html.DisplayFor(modelItem => item.Game.MaxPlayingTime) min
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Game.Publisher)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Game.Year)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.Game.MinAge)+
                        </td>
                        <td>
                            <div class="text-center">
                                <form asp-action="Offer" method="post"
                                      asp-route-targId="@ViewBag.targetId"
                                      asp-route-wantId="@ViewBag.wantedId"
                                      asp-route-offerId="@item.GameId">
                                    <button style="font-size:large" type="submit" class="btn btn-outline-success" title="Offer"> Offer</button>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <cs-pager cs-paging-pagenumber="Model.PageNumber"
                  cs-paging-totalitems="Model.TotalItems"
                  cs-paging-pagesize="Model.PageSize"
                  cs-pagenumber-param="page_number"
                  asp-controller="Exchanges"
                  asp-action="Offer"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link">

        </cs-pager>
    </div>

