﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.Models.Game>

@{ ViewData["Title"] = "Create"; }

<h1>Add game to my collection</h1>

<hr />
<div class="row">
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="PlayerGames"
              asp-action="Create"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th style="width:20%;">
                    Name
                </th>
                <!--
                <th>
                    Categories
                </th>-->
                <!--<th>
                    Description
                </th>-->
                <th>
                    Rating
                </th>
                <th>
                    Players
                </th>
                <th style="width:15%;">
                    Playing time
                </th>
                <!--<th>
                    Designer
                </th>-->
                <th>
                    Publisher
                </th>
                <th>
                    Year
                </th>
                <th>
                    Age
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
<tr>
    <td>
        <img width="100px" height="100px" src="@item.PhotoUrl" />
    </td>
    <td style="width:20%;">
        <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Id">
            @Html.DisplayFor(modelItem => item.Name)
        </a>

    </td>
    <!--<td>
        @Html.DisplayFor(modelItem => item.GameCategoryGames)

    </td>-->
    <!--
    <td>
        <div style="white-space:normal;overflow:hidden;text-overflow:ellipsis;height:150px;width:200px;">
            @Html.Raw(item.Description)
        </div>
    </td>-->
    <td>
        @{ int? rating = null;
            if (item.Rating != null)
            {
                rating = (int)(item.Rating / 5 * 100);
            }
            var background = "";

            if (rating < 100 && rating >= 75)
            {
                background = "bg-success";
            }
            else if (rating < 75 && rating >= 50)
            {
                background = "bg-warning";
            }
            else if (rating < 50)
            {
                background = "bg-danger";
            }
            else
            {
                background = "bg-secondary";
            } }

        <span class="@background text-white text-center font-weight-bold p-2"
              style="font-size:2rem;">
            @(rating == null ? "N/A": rating.ToString())
        </span>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MinPlayers)
        -
        @Html.DisplayFor(modelItem => item.MaxPlayers)
    </td>
    <td style="width:15%;">
        @Html.DisplayFor(modelItem => item.MinPlayingTime) min
        -
        @Html.DisplayFor(modelItem => item.MaxPlayingTime) min
    </td>
    <!--<td>
        @Html.DisplayFor(modelItem => item.Designer)
    </td>-->
    <td>
        @Html.DisplayFor(modelItem => item.Publisher)
    </td>
    <td class="text-right">
        @Html.DisplayFor(modelItem => item.Year)
    </td>
    <td class="text-right">
        @Html.DisplayFor(modelItem => item.MinAge)+
    </td>
    <td>
        <form asp-action="Create" asp-controller="PlayerGames" asp-route-id="@item.Id">

            <div class="text-center">
                <input type="submit" value="+" class="text-success fa fa-plus" style="background-color: transparent; border:none; font-weight:bold; font-size:24px" />
            </div>

        </form>
    </td>
</tr>
   }
        </tbody>
    </table>
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="PlayerGames"
              asp-action="Create"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
