﻿@model GameEx.Models.PlayerGame

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to remove this game from your collection?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 text-right">
        </dt>
        <dd class="col-sm-8">
            <td>
                <img height="100px" src="@Model.Game.PhotoUrl" />
            </td>
        </dd>
        <dt class="col-sm-4 text-right">
            Game name:
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-4 text-right">
            Game description:
        </dt>
        <dd class="col-sm-8">
            @Html.Raw(@Model.Game.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="GameId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back to list</a>
    </form>
</div>
