﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.Models.PlayerGame>
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@{ ViewData["Title"] = "Collection"; }

@{

    string imgDataUrl = null;
    var byteDataImg = ViewBag.User.ProfileImage;
    if (byteDataImg != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteDataImg);
        imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
    } }
@section Sidebar{
    <div>
        <nav class="sidenav">
            <div>

                <div class="text-center">
                    <img src="@imgDataUrl" class="avatar" />
                </div>
                <div class="text-center text-white">
                    <h3>@ViewBag.User.UserName</h3>
                </div>
                <div class="text-center text-secondary">
                    <h6>@ViewBag.User.Email</h6>
                </div>
            </div>
            <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a href="../../Identity/Account/Manage">Account settings</a>}
            <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a asp-action="Index" asp-controller="Exchanges">My exchanges</a>
                    <a asp-action="Index" asp-controller="Rentals">My rentals</a>
                                        <a asp-action="Index" asp-controller="GroupInvitations">Group Invitations</a>}
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a asp-action="Index" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">My groups</a>}
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a class="bg-secondary" asp-action="Index" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">My collection</a>}
            <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
<a asp-action="Create" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">Add game to collection</a>
                    <a asp-action="Create" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">Create group</a>}
        </nav>
    </div>

}

@if (User.Identity.Name == ViewBag.User.UserName)
{
    <h1>My collection</h1>

    <p>
        <a asp-action="Create">Add a new game to my collection</a>
    </p>
}
else
{
        <h1>@ViewBag.User.UserName's collection</h1>
}


<div class="row">
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="PlayerGames"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Game
                </th>
                <th class="text-center">
                    @if (User.Identity.Name == ViewBag.User.UserName)
                    {
                        <span>Willing To Trade ?</span>
                    }
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td class="text-center">
                        <img height="100px" src="@item.Game.PhotoUrl" />
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Game" asp-route-id="@item.PlayerId">
                            @Html.DisplayFor(modelItem => item.Game.Name)
                        </a>
                    </td>
                    <td class="text-center">
                        <form asp-action="ToggleTrade" asp-controller="PlayerGames" asp-route-id="@item.Game.Id" method="GET">
                            @if (item.WillingToTrade)
                            {
                                @if(User.Identity.Name == ViewBag.User.UserName)
                                {
                                    <input type="checkbox" name="PlayerGame.WillingToTrade" class="p-3 wtt" checked> 
                                }
                                else
                                {
                                    <a asp-controller="Exchanges" asp-action="Offer"
                                           asp-route-targId="@item.PlayerId"
                                           asp-route-wantId="@item.GameId" class="btn btn-outline-primary">Offer exchange</a>
                                }

                            }
                            else
                            {
                                @if(User.Identity.Name == ViewBag.User.UserName)
                                {
                                    <input type="checkbox" name="PlayerGame.WillingToTrade" class="p-3 wtt"> 
                                }                                
                            }

                        </form>
                    </td>
                    <td>
                        @if (User.Identity.Name == ViewBag.User.UserName)
                        {
                            <div class="text-center">
                                <a asp-action="Delete" asp-controller="PlayerGames" asp-route-id="@item.Game.Id" class="text-danger fa fa-times"></a>
                            </div>
                        }
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>

<cs-pager cs-paging-pagenumber="Model.PageNumber"
          cs-paging-totalitems="Model.TotalItems"
          cs-paging-pagesize="Model.PageSize"
          cs-pagenumber-param="page_number"
          asp-controller="PlayerGames"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link">

</cs-pager>

<div class="m-5"></div>

@section Scripts{
    <script>
        $('.wtt').on('change', function () {
            $(this).parent().submit();
        })</script>
}