﻿@model GameEx.Models.GameSuggestion

@{
    ViewData["Title"] = "New game suggestion";
}

<h1>New game suggestion</h1>

<hr />
<div>
    <form asp-action="Create" class="row">
        <div class="col-sm-12 col-lg-6">
            <p>When you submit a game suggestion, our moderators will see it and consider adding your game to the list of available games.</p>
        </div>
        <div class="col-lg-6">

        </div>
        <div class="col-12">
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger col-4"></div>
        <div class="col-8"></div>
        <div class="form-group text-center col-12">
            <label asp-for="Title" class="control-label">What is game called:</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group text-center col-12">
            <label asp-for="Text" class="control-label">Describe a game:</label>
            <textarea asp-for="Text" class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="form-group text-center col-12">
            <label asp-for="URL" class="control-label">Provide an official URL of the game if you have one:</label>
            <input asp-for="URL" class="form-control" />
            <span asp-validation-for="URL" class="text-danger"></span>
        </div>
        <div class="form-group text-center p-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
