﻿@model GameEx.Models.GameSuggestion

@{
    ViewData["Title"] = "Delete";
}


<h3 class="text-center">Are you sure you want to delete this game suggestion?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6 text-right">
            Suggested by:
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.User.UserName)
        </dd class>
        <dt class = "col-sm-6 text-right">
            Suggestion title:
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-6 text-right">
            Description:
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
