﻿@model GameEx.Models.GameSuggestion

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-6 text-right">
            Suggested by:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-6 text-right">
            Suggestion title:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-6 text-right">
            Description:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-6 text-right">
            Game info URL:
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.URL)
        </dd>
    </dl>
</div>
<div class="text-center">
    <a asp-action="Create" class="btn btn-outline-success">Add game</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</div>
