﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.Models.GameSuggestion>

@{
    ViewData["Title"] = "Game suggestions";
}

<h1 class="mb-3">Game suggestions</h1>
<cs-pager cs-paging-pagenumber="Model.PageNumber"
          cs-paging-totalitems="Model.TotalItems"
          cs-paging-pagesize="Model.PageSize"
          cs-pagenumber-param="page_number"
          asp-controller="Game"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link">

</cs-pager>
<div class="mt-3">
    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th>
                    Suggested by
                </th>
                <th>
                    Suggestion title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Info URL
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.URL)">URL</a>
                    </td>
                    <td style="width:125px">
                        <a asp-action="Approve" asp-route-id="@item.Id"><i class="fa fa-check mr-2 text-success"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash ml-2 mr-2 text-danger"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle ml-2"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>
