﻿@{ ViewData["Title"] = "Welcome Page"; }
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager

@section Styles{
    <style>
        .card {
            border-radius: 0px !important;
        }
    </style>
}
@{ 
    var user = await _userManager.GetUserAsync(User);
    var isPlayer = await _userManager.IsInRoleAsync(user, "Player");
    var isRenter = await _userManager.IsInRoleAsync(user, "Renter");
    var isModerator = await _userManager.IsInRoleAsync(user, "Moderator");
    var isAdmin = await _userManager.IsInRoleAsync(user, "Administrator");
}
<div class="row">

    @if (isPlayer)
    {
        <a class="btn btn-success m-3" asp-controller="Groups" asp-action="Create">Create a group</a>
        <a class="btn btn-primary m-3" asp-controller="Game" asp-action="Index">Games</a>
    }
    @if (isRenter)
    {
        <a class="btn btn-outline-primary m-3" asp-controller="InventoryItems" asp-action="Index">Browse inventory</a>
        <a class="btn btn-primary m-3" asp-controller="InventoryItems" asp-action="Create">Add game to inventory</a>
    }
    @if (isModerator)
    {
        <a class="btn btn-primary m-3" asp-controller="GameSuggestions" asp-action="Index">Game suggestions</a>
    }
    @if (isAdmin)
    {
        <a class="btn btn-success m-3" asp-controller="User" asp-action="Index">Users</a>
        <a class="btn btn-danger m-3" asp-controller="UnconfirmedRenters" asp-action="Index">Unconfirmed renters</a>
    }
</div>

<div class="text-center grid">
    <div class="grid-sizer"></div>

    <div class="grid-item">
        <div class="card">
            <div class="card-header">
                <h4>Top rated games:</h4>
            </div>
            <div class="card-body">
                <table>
                    <tbody>
                        @foreach (Game item in ViewBag.TopRatedGames)
                        {
                            int? rating = null;
                            if (item.Rating != null)
                            {
                                rating = (int)(item.Rating / 5 * 100);
                            }
                            var background = "";

                            if (rating < 100 && rating >= 75)
                            {
                                background = "bg-success";
                            }
                            else if (rating < 75 && rating >= 50)
                            {
                                background = "bg-warning";
                            }
                            else if (rating < 50)
                            {
                                background = "bg-danger";
                            }
                            else
                            {
                                background = "bg-secondary";
                            }
                            <tr>
                                <td class="vertical-align-middle mb-2">
                                    <div class="mb-2">
                                        <img width="100px" height="100px" src="@item.PhotoUrl" />
                                    </div>
                                </td>
                                <td class="vertical-align-middle mb-2">
                                    <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Id">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </a>

                                </td>
                                <td class="vertical-align-middle mb-2" style="width:65px;">

                                    @if (rating != null)
                                    {
                                        <span class="@background text-white text-center font-weight-bold p-2"
                                              style="font-size:2rem;">
                                            @rating.ToString()
                                        </span>
                                    }

                                    else
                                    {
                                        <span class="@background text-white text-center font-weight-bold p-2"
                                              style="font-size:1rem;">
                                            N/A
                                        </span>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="card-footer text-center">
                <h6><a asp-controller="Game" asp-action="Index">All games...</a></h6>
            </div>
        </div>
    </div>
    @if (isPlayer)
    {
        <div class="grid-item grid-item--width2">
            <div class="card">
                <div class="card-header">
                    <h4>Groups looking for members:</h4>
                </div>
                <div class="card-body p-0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Group
                                </th>
                                <th>
                                    Game
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<GroupAdvert> groupAdverts = ViewBag.GroupAdverts;
                            }
                            @if (groupAdverts.Count() == 0)
                            {
                                <tr>
                                    <td colspan="3" class="text-center">
                                        There is no group that is searching for member at the moment.
                                    </td>
                                </tr>
                            }
                            @foreach (GroupAdvert item in ViewBag.GroupAdverts)
                            {
                                <tr class="text-center">
                                    <td class="vertical-align-middle">
                                        <a asp-controller="Groups" asp-action="Details"
                                           asp-route-id="@item.Group.Id">
                                            @Html.DisplayFor(modelItem => item.Group.Name)
                                        </a>
                                    </td>
                                    <td class="vertical-align-middle">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div>
                                                <img width="100px" src="@item.Group.Game.ThumbnailUrl" />
                                            </div>
                                            <div class="ml-3">
                                                <a asp-controller="Game" asp-action="Detials"
                                                   asp-route-id="@item.Group.Game.Id">@item.Group.Game.Name</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="vertical-align-middle">
                                        <a asp-action="Create" asp-controller="GroupJoinRequests"
                                           asp-route-playerId="@_userManager.GetUserId(User)" asp-route-id="@item.GroupId" class="btn btn-sm btn-outline-success">Request to join</a>
                                        <a asp-controller="GroupAdverts" asp-action="Details" asp-route-GroupId="@item.GroupId" class="btn btn-sm btn-outline-primary">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (groupAdverts.Count() != 0)
                {
                    <div class="card-footer">

                        <a asp-controller="GroupAdverts" asp-action="Index">
                            <h6>More groups...</h6>
                        </a>

                    </div>
                }
            </div>
        </div>
    }
    @if (isPlayer)
    {
        <div class="grid-item">
            <div class="card">
                <div class="card-header">
                    <h4>Group invitations:</h4>
                </div>
                <div class="card-body p-0">
                    @{
                        List<GroupInvitation> groupInvitations = ViewBag.GroupInvitations;
                    }
                    @if (groupInvitations.Count() == 0)
                    {
                        <span>You don't have any group invitations at the moment.</span>
                    }
                    @foreach (GroupInvitation inv in groupInvitations)
                    {
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1 m-3">
                                <a asp-controller="Groups"
                                   asp-action="Details"
                                   asp-route-id="@inv.Group.Id">
                                    @inv.Group.Name
                                </a>
                            </div>
                            <div>
                                <a asp-action="AcceptInvite"
                                   asp-controller="GroupInvitations"
                                   asp-route-id="@inv.Id"
                                   class="text-success fa fa-check"></a>
                                <a asp-action="RejectInvite"
                                   asp-controller="GroupInvitations"
                                   asp-route-id="@inv.Id"
                                   asp-route-groupId="@inv.GroupId"
                                   class="text-danger fa fa-times ml-3 mr-3"></a>
                            </div>
                        </div>
                    }
                </div>
                @if (groupInvitations.Count() != 0)
                {
                    <div class="card-footer">
                        <h6><a asp-controller="GroupInvitations" asp-action="Index">All invitations...</a></h6>
                    </div>
                }
            </div>
        </div>
    }
    <div class="grid-item">
        <div class="card">
            <div class="card-header">
                <h4>Renters:</h4>
            </div>
            <div class="card-body p-0">
                @{
                    List<Renter> renters = ViewBag.Renters;
                }
                @if (renters.Count() == 0)
                {
                    <span>There are no registered renters right now. Hopefully there will be more of them soon.</span>
                }
                @foreach (Renter renter in ViewBag.Renters)
                {
                    <a asp-controller="Renter" asp-action="Details" asp-route-id="@renter.User.Id">
                        <div class="d-flex align-items-center pt-3 pb-3 border-top border-bottom">
                            <div class="pl-3">
                                @{ string imgDataURL = null;
                                    var byteData = renter.User.ProfileImage;
                                    if (byteData != null)
                                    {
                                        string imreBase64Data = Convert.ToBase64String(byteData);
                                        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                    } }
                                <img src="@imgDataURL" class="avatar" />
                            </div>
                            <div class="flex-grow-1">
                                <h6>@renter.User.UserName</h6>
                            </div>
                        </div>
                    </a>
                }
            </div>
            @if (renters.Count() != 0)
            {
                <div class="card-footer">
                    <h6><a asp-controller="Renter" asp-action="Index">More renters...</a></h6>
                </div>
            }

        </div>
    </div>
    @if (isPlayer)
    {
        <div class="grid-item grid-item--width2">
            <div class="card">
                <div class="card-header">
                    <h4>Groups that are playing soon:</h4>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <tbody>
                            @{
                                List<Group> playingSoon = ViewBag.PlayingSoon;

                            }
                            @if (playingSoon.Count() == 0)
                            {
                                <tr>
                                    <td class="text-center">
                                        There no groups that are playing soon...
                                    </td>
                                </tr>
                            }
                            @foreach (Group item in ViewBag.PlayingSoon)
                            {
                                <tr>
                                    <td class="vertical-align-middle" style="width:20%">
                                        <a asp-controller="Groups" asp-action="Details"
                                           asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td class="vertical-align-middle">
                                        <img width="100px" src="@item.Game.ThumbnailUrl" />
                                    </td>
                                    <td class="vertical-align-middle">
                                        <a asp-controller="Game" asp-action="Detials"
                                           asp-route-id="@item.Game.Id">@item.Game.Name</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <h6><a asp-controller="Groups" asp-action="Index">All groups...</a></h6>
                </div>
            </div>
        </div>
    }
    @if (isPlayer)
    {
        <div class="grid-item grid-item--width2">
            <div class="card">
                <div class="card-header">
                    <h4>Your groups:</h4>
                </div>
                <div class="card-body p-0">
                    <table class="table" style="width:100%">
                        <tbody>
                            @{
                                List<Group> groups = ViewBag.Groups;

                            }
                            @if (groups.Count() == 0)
                            {
                                <tr>
                                    <td class="text-center">
                                        You are not a member of any group...
                                    </td>
                                </tr>
                            }
                            @foreach (Group item in ViewBag.Groups)
                            {
                                <tr>
                                    <td class="vertical-align-middle" style="width:20%">
                                        <a asp-controller="Groups" asp-action="Details"
                                           asp-route-id="@item.Id">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                    </td>
                                    <td class="vertical-align-middle m-2">
                                        <img width="100px" src="@item.Game.ThumbnailUrl" />
                                    </td>
                                    <td class="vertical-align-middle">
                                        <a asp-controller="Game" asp-action="Details"
                                           asp-route-id="@item.Game.Id">@item.Game.Name</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (groups.Count() != 0)
                {
                    <div class="card-footer">
                        <h6><a asp-controller="Groups" asp-action="Index">All groups...</a></h6>
                    </div>
                }
            </div>
        </div>
    }
    @if (isPlayer || isRenter)
    {
        <div class="grid-item grid-item--width2">
            <div class="card">
                <div class="card-header">
                    <h4>Your rentals:</h4>
                </div>
                <div class="card-body p-0">
                    @{
                        List<Rental> rentals = ViewBag.Rentals;
                    }
                    <table width="100%">
                        <tbody>

                            @if (rentals.Count() == 0)
                            {
                                @if (isPlayer)
                                {
                                    <tr>
                                        <td colspan="4">
                                            You don't have any rentals at the moment. You can always rent a game from one of the renters.
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4">
                                            You don't have any rentals at the moment.
                                        </td>
                                    </tr>
                                }
                            }
                            @foreach (Rental rental in ViewBag.Rentals)
                            {
                                <tr class="border-top border-bottom">
                                    @{ string imgDataURL = null;
                                        var byteData = rental.InventoryItem.Renter.User.ProfileImage;
                                        if (byteData != null)
                                        {
                                            string imreBase64Data = Convert.ToBase64String(byteData);
                                            imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                        } }
                                    <td class="vertical-align-middle mb-2">
                                        <div class="mb-2">
                                            <img width="100px" height="100px" src="@rental.InventoryItem.Game.PhotoUrl" />
                                        </div>
                                    </td>
                                    <td class="vertical-align-middle mb-2 mt-2">
                                        <a asp-controller="Rentals" asp-action="Details" asp-route-id="@rental.Id">
                                            @Html.DisplayFor(modelItem => rental.InventoryItem.Game.Name)
                                        </a>
                                    </td>
                                    <td>
                                        <img src="@imgDataURL" class="avatar" />

                                    </td>
                                    <td>
                                        <h6>
                                            <a asp-controller="Renter" asp-action="Details"
                                               asp-route-id="@rental.InventoryItem.RenterId">@rental.InventoryItem.Renter.User.UserName</a>
                                        </h6>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                @if (rentals.Count() != 0)
                {
                    <div class="card-footer">
                        <h6><a asp-controller="Rentals" asp-action="Index">All rentals...</a></h6>
                    </div>
                }
            </div>
        </div>
    }

    @if (isRenter)
    {
        <div class="grid-item grid-item--width2">
            <div class="card">
                <div class="card-header">
                    <h4>Your inventory:</h4>
                </div>
                <div class="card-body p-0">
                    @{
                        List<InventoryItem> inventoryItems = ViewBag.InventoryItems;
                    }
                    <table width="100%">
                        <tbody>

                            @if (inventoryItems.Count() == 0)
                            {
                                <tr>
                                    <td colspan="4">
                                        You don't have any items in your inventory.
                                    </td>
                                </tr>
                            }
                            @foreach (InventoryItem item in inventoryItems)
                            {
                                <tr class="border-top border-bottom">
                                    <td class="vertical-align-middle mb-2">
                                        <div class="mb-2">
                                            <img width="100px" height="100px" src="@item.Game.PhotoUrl" />
                                        </div>
                                    </td>
                                    <td class="vertical-align-middle mb-2 mt-2">
                                        <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Game.Id">
                                            @Html.DisplayFor(modelItem => item.Game.Name)
                                        </a>
                                    </td>
                                    <td>
                                        @item.Quantity x
                                    </td>
                                    <td>
                                        @item.Price $
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="card-footer">
                    <h6><a asp-controller="InventoryItems" asp-action="Index">All inventory...</a></h6>
                </div>

            </div>
        </div>
    }
    <div class="grid-item">
        <div class="card">
            <div class="card-header">
                <h4>Players:</h4>
            </div>
            <div class="card-body p-0">
                @{
                    List<Player> players = ViewBag.Players;
                }
                @if (players.Count() == 0)
                {
                    <span>There are no registered players. Weird :(</span>
                }
                @foreach (Player player in ViewBag.Players)
                {
                    <a asp-controller="Players" asp-action="Details" asp-route-id="@player.User.Id">
                        <div class="d-flex align-items-center pt-3 pb-3 border-top border-bottom">
                            <div class="pl-3">
                                @{ string imgDataURL = null;
                                    var byteData = player.User.ProfileImage;
                                    if (byteData != null)
                                    {
                                        string imreBase64Data = Convert.ToBase64String(byteData);
                                        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                    } }
                                <img src="@imgDataURL" class="avatar" />
                            </div>
                            <div class="flex-grow-1">
                                <h6>@player.User.UserName</h6>
                            </div>
                        </div>
                    </a>

                }
            </div>
            @if (players.Count() != 0)
            {
                <div class="card-footer">
                    <h6><a asp-controller="Players" asp-action="Index">More players...</a></h6>
                </div>
            }
        </div>
    </div>

</div>


@section Scripts{
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script>
        $('.grid').isotope({
            // set itemSelector so .grid-sizer is not used in layout
            itemSelector: '.grid-item',
            percentPosition: true,
            masonry: {
                // use element for option
                columnWidth: '.grid-sizer'
            }
        })
    </script>
}