﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}



@if ((string)ViewData["userId"] == null)
{
    <div style="position:relative;">
        <br />
        <br />
        <div class="text-center col-md-6" style="float:left;">
            <h1 class="display-5">Create Valuable Connections</h1>
            <p>
                The GameEx Community enables players to share their thoughts and ideas, make new friends and, exchange games.
                Renters are able to reach their customers directly and offer their best service.
            </p>
            <img src="~/img/men-playing.jpg" class="img col-md-12" alt="Men playing a board bame" />
        </div>
        <div class="text-center col-md-6" style="padding-top:300px;float:right;">
            <h1 class="display-5">Rich Collection of Games</h1>
            <p>
                GameEx offers more than 3000 games devided in different genres and categories with new games being added each day.
                Share your favourite games with friends and family or join groups and meet new players.
            </p>
            <img src="~/img/board-games.jpg" class="img col-md-12" alt="Board games" />
        </div>
        <br />
        <br />
        <div class="text-center col-md-6" style="float: left;margin-top:150px">
            <h1 class="display-5">Games for the whole family</h1>
            <p>
                Are you tired of the same old board games? Are you looking for the perfect birthday gift for your mother-in-law?
                Join GameEx and find everything your heart desires in our colorful collection.
            </p>
            <img src="~/img/family.jpg" class="img col-md-12" alt="Map" />
        </div>
        <div class="text-center col-md-6" style="float: right;margin-top:150px">
            <h1 class="display-5">Explore new places</h1>
            <p>
                Have you ever discovered a new game, but nobody wants to play it with you?

                With GameEx meeting new people with a similar taste in games is a peace of cake.
                Join a group and you'll be playing your favourite games in no time.
            </p>
            <img src="~/img/map.jpg" class="img col-md-12" alt="Family" />
        </div>
    </div>
}

<div style="clear:both;" class="col-md-12">
    @if ((string)ViewData["userId"] == null)
    {
        <h2 style="padding-top:200px">Our top rated games:</h2>
    }
    else
    {
        <h2 style="padding-top:50px">Our top rated games:</h2>
    }

    <br />
    @foreach (Game item in ViewBag.topGames)
    {
        <div class="card">
            <div class="card-body d-flex">
                <div>
                    <img width="200px" src="@item.PhotoUrl" />
                </div>
                <div class="flex-grow-1 d-flex ml-4">
                    <div class="flex-grow-1">
                        <h4>
                            <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </h4><br />
                        @if (item.MinPlayers == item.MaxPlayers)
                        {
                            @Html.DisplayFor(modelItem => item.MinPlayers)<span> players</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.MinPlayers)
                            <span>-</span>
                            @Html.DisplayFor(modelItem => item.MaxPlayers) <span> players</span>
                        }
                        <br />
                        <br />
                        @Html.Raw(item.Description)

                        <!--foreach (var cat in @item.GameCategoryGames.Take(4))
    {
        Html.DisplayFor(category => cat.GameCategory.Name)<br />
    }-->
                    </div>
                    <div>
                        @{
                            int? rating = null;
                            if (item.Rating != null)
                            {
                                rating = (int)(item.Rating / 5 * 100);
                            }
                            var background = "";

                            if (rating < 100 && rating >= 75)
                            {
                                background = "bg-success";
                            }
                            else if (rating < 75 && rating >= 50)
                            {
                                background = "bg-warning";
                            }
                            else if (rating < 50)
                            {
                                background = "bg-danger";
                            }
                            else
                            {
                                background = "bg-secondary";
                            }
                        }
                        @if (rating != null)
                        {
                            <span class="@background text-white text-center font-weight-bold p-2"
                                  style="font-size:2rem;">
                                @(rating.ToString())
                            </span>
                        }
                        else
                        {
                            <span class="@background text-white text-center font-weight-bold p-2"
                                  style="font-size:1.5rem;">
                                N/A
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="mb-5 pt-4 text-center">
        <h5><a asp-controller="Game" asp-action="Index">See all games...</a></h5>
    </div>
</div>

@if ((string)ViewData["userId"] != null)
{
    <div>
        <br />
        <br />
        <h2>Group invitations:</h2>
        <br />
        @if (ViewBag.groupInvitationsCount <= 0)
        {
            <p>You don't have any group invitations at this moment</p>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Group
                        </th>
                        <th>
                            Group description
                        </th>
                        <th>
                            Game
                        </th>
                        <th>
                            Time of playing
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GroupInvitation item in ViewBag.groupInvitations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Group.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Group.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Group.Game.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Group.TimeOfPlaying)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div>
        <br />
        <br />
        <h2>Group Adverts:</h2>
        <br />
        @if (ViewBag.groupAdvertsCount <= 0)
        {
            <p>There aren't any group adverts at the moment</p>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Group
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Text
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GroupAdvert item in ViewBag.groupAdverts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Group.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <br/>
    <br/>
}


