﻿@{
    List<GameEx.ViewComponents.GroupMessageVC> gm = ViewBag.GroupMessages;
    List<GameEx.ViewComponents.MessageVC> um = ViewBag.UserMessages;
    var routeid = ViewContext.RouteData.Values["Id"];
    string id = "";
    if(routeid != null)
    {
        id = routeid.ToString();
    }

}


<ul class="nav nav-pills flex-column">
    <li>Groups:</li>
    @if(gm.Count == 0)
    {
        <li>There are no group messages...</li>
    }
    @foreach (var item in gm)
    {
        <li class="nav-item border-bottom">
            @if (item.GroupId == id)
            {
                <a class="nav-link active-chat" asp-controller="Chat" asp-action="MessageGroup" asp-route-id="@item.GroupId" style="width:300px;">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9" style="overflow: hidden; white-space:nowrap">
                            <div>
                                @item.GroupName
                            </div>
                            <div id="message-@item.GroupName" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis">
                                @item.Text
                            </div>
                            <div style="font-size:0.75rem;">
                                @item.When
                            </div>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a class="nav-link" asp-controller="Chat" asp-action="MessageGroup" asp-route-id="@item.GroupId" style="width:300px;">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9 text-dark" style="overflow: hidden; white-space:nowrap">
                            <div>
                                @item.GroupName
                            </div>
                            <div id="message-@item.GroupName" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis">
                                @item.Text
                            </div>
                            <div style="font-size:0.75rem;">
                                @item.When
                            </div>
                        </div>
                    </div>
                </a>
            }

        </li>
    }
<li>
    <hr />
</li>
    <li>
        Users:
    </li>
    @if(um.Count == 0)
    {
        <li>There are no messages with other users...</li>
    }
    @foreach (var item in um)
    {
        <li class="nav-item border-bottom">
            @if (item.Id == id)
            {
                <a class="nav-link active-chat" asp-controller="Chat" asp-action="MessageUser" asp-route-id="@item.Id"
                   style="width:300px;">
                    <div class="row">
                        <div class="col-3 text-center d-flex align-items-center">
                            @{
                                string imgDataURL = null;
                                var byteData = item.Photo;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }
                            }
                            <img src="@imgDataURL" class="avatar" />
                        </div>
                        <div class="col-9" style="overflow: hidden; white-space:nowrap">
                            <div>
                                @item.UserName
                            </div>
                            <div id="message-@item.UserName" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis">
                                @item.Text
                            </div>
                            <div style="font-size:0.75rem;">
                                @item.When
                            </div>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a class="nav-link" asp-controller="Chat" asp-action="MessageUser" asp-route-id="@item.Id"
                   style="width:300px;">
                    <div class="row">
                        <div class="col-3 text-center d-flex align-items-center">
                            @{
                                string imgDataURL = null;
                                var byteData = item.Photo;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }
                            }
                            <img src="@imgDataURL" class="avatar" />
                        </div>
                        <div class="col-9 text-dark" style="overflow: hidden; white-space:nowrap">
                            <div>
                                @item.UserName
                            </div>
                            <div id="message-@item.UserName" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis">
                                @item.Text
                            </div>
                            <div style="font-size:0.75rem;">
                                @item.When
                            </div>
                        </div>
                    </div>
                </a>
            }

        </li>
    }

</ul>
