﻿@model List<GroupMessage>

@{ 
    var username = User.Identity.Name;
}

@foreach (var message in Model)
{
    @if (username == message.SenderUsername)
    {
        <div class="outgoing_msg">
            <div class="username_head">
                <p><b>@message.Sender.User.UserName</b></p>
            </div>
            <div class="sent_msg">
                <p>@message.Text</p>
                <span class="time_date">@message.When</span>
            </div>
        </div>
    }
    else
    {
        <div class="incoming_msg" style="width:50%">
            <div class="received_msg">
                <div class="username_head_inc">
                    <p><b>@message.Sender.User.UserName</b></p>
                </div>
                <div class="received_withd_msg">
                    <p>@message.Text</p>
                    <span class="time_date">@message.When</span>
                </div>
            </div>
        </div>
    }
}
