﻿@model Group
@section Styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<form asp-action="AddMembers" asp-route-id="@ViewBag.GroupId" id="form">
    <div id="membersContainer">
        @{ var filteredInvitations = Model.GroupInvitations.Where(g => g.InvitedPlayerId == null).ToList(); }
        @Html.EditorFor(model => filteredInvitations)
    </div>
    @if (Model.Capacity > Model.GroupMembers.Count())
    {
<div class="text-center m-3">
    <input class="btn btn-outline-primary" type="button" id="btnAdd" value="Invite player" />
</div>}
    <div class="text-right m-3">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Capacity" />
        <input type="submit" value="Finish" id="submit" class="btn btn-success" />
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnAdd').on('click', function () {
                $.ajax({
                    async: true,
                    data: $('#form').serialize(),
                    type: "POST",
                    url: '/Groups/AddMember',
                    success: function (partialView) {
                        $('#membersContainer').html(partialView);
                        $(partialView).find('input').each(function (index) {
                            initializeAutocomplete($(this).attr('name'))
                        });
                        $(partialView).find('.deleteRow').each(function (index) {
                            bindDeleteListener();
                        });

                    }
                });
            });

            function initializeAutocomplete(name) {
                function split(val) {
                    return val.split(/,\s*/);
                }
                function extractLast(term) {
                    return split(term).pop();
                }

                var fieldQueryString = 'input[name="' + name + '"]'
                $(fieldQueryString)
                    // don't navigate away from the field on tab when selecting an item
                    .on("keydown", function (event) {
                        if (event.keyCode === $.ui.keyCode.TAB &&
                            $(this).autocomplete("instance").menu.active) {
                            event.preventDefault();
                        }
                    })
                    .autocomplete({
                        source: function (request, response) {
                            $.getJSON("/Players/Api", {
                                term: extractLast(request.term)
                            }, response);
                        },
                        search: function () {
                            // custom minLength
                            var term = extractLast(this.name);
                            if (term.length < 2) {
                                return false;
                            }
                        },
                        focus: function () {
                            // prevent value inserted on focus
                            return false;
                        },
                        select: function (event, ui) {
                            var terms = split(this.name);
                            terms.pop();
                            terms.push(ui.item.user.userName);
                            this.value = terms;
                            $(fieldQueryString).attr('value', ui.item.id);
                            return false;
                        }
                    })
                    .autocomplete("instance")._renderItem = function (ul, item) {
                        return $("<li>")
                            .append("<div>" +
                                "<span>" + item.user.userName + "</span>" +
                                "</div>")
                            .appendTo(ul);
                    };
            }

            function bindDeleteListener() {
                $(document).ready(function () {
                    $(".deleteRow").click(function () {
                        console.log("Delete called");
                        console.log($(this).parent().parent(".editorRow"))
                        $(this).parent().parent(".editorRow").remove();
                        return false;
                    });
                })
            }
        })
    </script>
}

<!--source: https://dev.to/stevcooo/add-items-dynamically-in-list-in-net-core-40i9 -->