﻿@model GameEx.ViewModels.ReviewViewModelList
@section Styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        text-align: center;
    }

    textarea {
        height: 300px;
    }

    .fa-star {
        color: gray;
    }

    .checked {
        color: orange;
    }
    div[disabled] {
        pointer-events: none;
        opacity: 0.5;
    }
</style>



@for (int i = 0; i < Model.reviewViewModels.Count();)
{
    <div class="card-deck">
        @for (int j = 0; j < 3 && i < Model.reviewViewModels.Count(); j++, i++)
        {
            string imgDataURL = null;
            var byteData = @Model.reviewViewModels[i].review.ReviewedPlayer.User.ProfileImage;
            if (byteData != null)
            {
                string imreBase64Data = Convert.ToBase64String(byteData);
                imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
            }

            <div class="card mb-3" style="max-width: 25rem;">
                <div class="card-header">
                    <div class="row d-flex align-items-center">
                        @if (imgDataURL != null)
                        {
                            <div class="col-4">
                                <img class="card-img-top avatar" style="width:100px;height:100px" src="@imgDataURL" alt="Card image cap">
                            </div>
                        }
                        <div class="col-8 text-center">
                            <h5 class="card-title">@Model.reviewViewModels[i].review.ReviewedPlayer.User.UserName</h5>
                        </div>

                    </div>
                </div>
                <form asp-action="AddReviews" id="@Model.reviewViewModels[i].review.ReviewedPlayerId" method="post">
                    <div class="card-body row">
                        <input type="hidden" name="groupId" value="@ViewBag.GroupId" />
                        <input type="hidden" name="reviewedPlayerId" value="@Model.reviewViewModels[i].review.ReviewedPlayerId">
                        @if (Model.reviewViewModels[i].canEdit == true)
                        {
                            <div class="col-12">
                                <label for="rating">Rating</label><br />
                                <input class="form-control" type="hidden" name="rating" value="1" id="rating" />
                                <span class="fa fa-star fa-2x ChangeRating checked" id="1"></span>
                                <span class="fa fa-star fa-2x ChangeRating" id="2"></span>
                                <span class="fa fa-star fa-2x ChangeRating" id="3"></span>
                                <span class="fa fa-star fa-2x ChangeRating" id="4"></span>
                                <span class="fa fa-star fa-2x ChangeRating" id="5"></span>
                            </div>
                            <div class="col-12">
                                <label for="reviewText">Review text</label><br />
                                <textarea class="form-control" rows="12" placeholder="Write review here" name="reviewText" id="reviewText"></textarea><br />

                            </div>
                            <div class="col-12">
                                <a class="btn btn-outline-primary SubmitA">Submit review</a>
                            </div>
                        }
                        else
                        {
                            <div class="col-12" disabled>
                                <label for="rating">Rating</label><br />
                                <input class="form-control" type="hidden" name="rating" value="1" id="rating" />
                                @for (int rat = 1; rat <= 5; rat++)
                                {
                                    if (rat <= Model.reviewViewModels[i].review.Rating)
                                    {
                                        <span class="fa fa-star fa-2x checked"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star fa-2x"></span>
                                    }
                                }
                            </div>
                            <div class="col-12" disabled>
                                <label for="reviewText">Review text</label><br />
                                <textarea class="form-control" rows="12" placeholder="Write review here" name="reviewText" id="reviewText">@Model.reviewViewModels[i].review.Text</textarea><br />

                            </div>
                            <div class="col-12">
                                <a class="btn btn-outline-dark disabled" aria-disabled="true">Review submitted</a>
                            </div>

                        }

                    </div>
                </form>
            </div>

        }
    </div>
}


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(".ChangeRating").on('click', function (e) {
            var thisButton = $(this);


            var childrenOfAll = $(this).parent();
            childrenOfAll.children()[2].value = thisButton[0].id;


            for (var i = 3; i < 8; i++) {
                childrenOfAll.children()[i].classList.remove("checked");
            }
            childrenOfAll.children()[parseInt(thisButton[0].id) + 2].classList.add("checked");
            for (var i = 3; i < 3 + parseInt(thisButton[0].id) - 1; i++) {
                childrenOfAll.children()[i].classList.add("checked");
            }

        })

        $('.SubmitA').on('click', function (e) {
            var thisButton = $(this);
            var form = $(this).parent().parent();
            /*
            console.log(form.children());
            console.log(thisButton);
            console.log(form.children()[0].value);
            console.log(form.children()[1].value);
            console.log(form.children()[2].children[2].value);
            console.log(form.children()[3].children[2].value);*/

            if (Number.isInteger(form.children()[4].value) == false) {
                if ((form.children()[2].children[2].value < 1 || form.children()[2].children[2].value > 5) || form.children()[3].children[2].value == "") {
                    return;
                } else {
                    thisButton.addClass("disabled");
                    //console.log(thisButton.html());
                    //console.log(form.children()[0].value);
                    //console.log(form.children()[1].value);
                    //console.log(form.children()[4].value);
                    //console.log(form.children()[8].value);
                    post(form.children()[0].value, form.children()[1].value, form.children()[2].children[2].value, form.children()[3].children[2].value, form, thisButton);
                }
            }


        })

        function post(gid,rpi,r,rt, formA, thisButtonA) {
            var url = '/Group/' + "@ViewBag.GroupId" + '/AddReviews';

            var model = {
                groupId: gid,
                reviewedPlayerId: rpi,
                rating: parseInt(r),
                reviewText: rt
            };



            $.ajax({
                url: url,
                data: JSON.stringify(model),
                type: "POST",
                contentType: "application/json",
                success: function () {
                    //formA.children()[2].children[2].disabled = true;
                    //formA.children()[3].children[2].disabled = true;
                    formA.children()[2].setAttribute('disabled', '');
                    formA.children()[3].setAttribute('disabled', '');
                    thisButtonA.removeClass("btn-outline-primary");
                    thisButtonA.addClass("btn-outline-dark");
                    thisButtonA.text("Review submitted");
                    //alert("all good");
                },
                error: function () {
                    thisButtonA.removeClass("disabled");
                    alert("Error submitting review, contact the server administrator");
                }
            });
        }
    </script>

}

