﻿@model IEnumerable<GameEx.Models.GroupMessage>
@{
    ViewData["Title"] = "Home Page";
    var userId = ViewBag.CurrentUserId;
    var userName = User.Identity.Name;
    var groupId = ViewBag.GroupId;
}

@section Styles{
    <link rel="stylesheet" href="~/css/chat.css">
}


<div class="jumbotron bg-light">
    <h2 class="text-center text-primary">
        <i class="fa fa-comment"></i>&nbsp; Chat
    </h2>
    <div class="row" id="chatContainer">
        <div class="col-md-12" id="chat" style="height:65vh;overflow:scroll;" >
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="CreateGroupMessage" asp-controller="Chat"
                  data-ajax-begin="clearInputField" data-ajax-complete=""
                  data-ajax-failure="alert('Fail')" data-ajax-success="sendGroupMessage"
                  data-ajax="true" data-ajax-method="POST">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="type_msg">
                    <div class="input_msg_write">
                        <input id="messageText" name="Text" class="write_msg" placeholder="Type a message"/>
                        <button type="submit" id="submitButton" class="msg_send_btn"><i class=" fa fa-paper-plane"></i></button>
                    </div>
                </div>

                <input type="hidden" value="@userId" name="senderid" />
                <input type="hidden" value="@userName" name="senderUserName" />
                <input type="hidden" value="@groupId" name="groupId" />
            </form>
        </div>
    </div>

</div>


@section scripts {
    <script>
        const userName = "@ViewBag.CurrentUserName";
        const userId = "@ViewBag.CurrentUserId";
        const groupId = "@ViewBag.GroupId";
    </script>
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/groupchat.js"></script>
    <script src="~/js/InfinityScroll.js"></script>

    <script>
        var infinityScroll = new InfinitiySroll("chat", "/Groups/_MessagePartial/@groupId", { sortOrder: "ascending", searchString: "3" });
    </script>
}
