﻿@model GameEx.Models.Group

@{
    ViewData["Title"] = "Create";
}

@section Styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js">
    </script>
    <style>
        #mapid {
            height: 400px;
        }
    </style>
}

<h1>Create group</h1>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Group name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group ui-widget">
                <label asp-for="GameId" class="control-label">Select a game that will be played:</label><br />
                <input type="hidden" asp-for="GameId" id="GameIdField" />
                <input type="text" name="GameName" id="GameAutocomplete" class="form-control">
                <span asp-validation-for="GameId" class="text-danger"></span>
                <span asp-validation-for="Game" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="Description" class="control-label">Describe your group:</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Capacity" class="control-label">How many members can group have?</label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12">
            <label class="control-label">Select a location where game will be played:</label>
            <div id="mapid">

            </div>
        </div>
        <div class="col-md-4 pt-4">
        </div>
    </div>

    <div class="form-group">
        <input id="locationXCoor" type="hidden" asp-for="LocationXCoordinate" />
        <input id="locationYCoor" type="hidden" asp-for="LocationYCoordinate" />
        <input id="locationRadius" type="hidden" asp-for="LocationRadius" />
        <input type="submit" value="Create group" class="btn btn-success" />
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<div style="height:50px">

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var map = L.map('mapid').setView([45.8150, 15.9819], 14);
        mapLink =
            '<a href="https://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);

        var drawnItems = new L.FeatureGroup();
        console.log(drawnItems);
        map.addLayer(drawnItems);
        var drawControl = new L.Control.Draw({
            position: 'topright',
            draw: {
                polygon: false,
                marker: false,
                polyline: false,
                rectangle: false,
                circlemarker: false,
                circle: {
                    shapeOptions: {
                        color: 'red'
                    }
                }
            },
            edit: {
                featureGroup: drawnItems
            }
        });
        map.addControl(drawControl);

        map.on('draw:created', function (e) {
            var type = e.layerType,
                layer = e.layer;

            if (type === 'marker') {
                layer.bindPopup('A popup!');
            }
            console.log(e.layer)
            $('#locationXCoor').val(e.layer._latlng.lat)
            $('#locationYCoor').val(e.layer._latlng.lng)
            $('#locationRadius').val(e.layer._mRadius)
            drawnItems.addLayer(layer);
        });

    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            function split(val) {
                return val.split(/,\s*/);
            }
            function extractLast(term) {
                return split(term).pop();
            }

            $("#GameAutocomplete")
                // don't navigate away from the field on tab when selecting an item
                .on("keydown", function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                        $(this).autocomplete("instance").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    source: function (request, response) {
                        $.getJSON("/Game/Api", {
                            term: extractLast(request.term)
                        }, response);
                    },
                    search: function () {
                        // custom minLength
                        var term = extractLast(this.name);
                        if (term.length < 2) {
                            return false;
                        }
                    },
                    focus: function () {
                        // prevent value inserted on focus
                        return false;
                    },
                    select: function (event, ui) {
                        var terms = split(this.name);
                        terms.pop();
                        terms.push(ui.item.name);
                        this.value = terms;
                        $('#GameIdField').attr('value', ui.item.id);
                        return false;
                    }
                })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    ul.css('width', '400px');
                    ul.css('position', 'absolute')
                    ul.css('z-index', '1600');


                    return $('<li style="position:relative;z-index:1500;" >')
                        .append("<div>" +
                            '<img height="50px" width="50px" style="object-fit: cover;" src = "' + item.thumbnailUrl + '"/>' +
                            "<span>" + item.name + "</span>" +
                            "</div>")
                        .appendTo(ul);
                };
        });
    </script>


}