﻿@model GameEx.Models.Group
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@{ ViewData["Title"] = "Details";
    var owner = Model.GroupMembers.Where(gm => gm.Owner).FirstOrDefault(); }

@{ var userId = ViewBag.CurrentUserId;
    var userName = User.Identity.Name;
    var groupId = ViewBag.GroupId;
    var requestedToJoin = false;
    bool isMember = ViewBag.IsMember;
    foreach (var request in Model.GroupJoinRequests)
    {
        if (request.PlayerId == userId && request.GroupId == groupId)
        {
            requestedToJoin = true;
            break;
        }
    } }


@section Styles{
    <link rel="stylesheet" href="~/css/chat.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js">
    </script>
    <style>
        #mapid {
            height: 400px;
        }

        .bottom-of-div {
            bottom: 0;
            width: 100%;
        }

        .card {
            border-radius: 0px;
        }

.grid-item--width100 {
    width: 98%;
}


@@media screen and (min-width: 992px) {
    .grid-sizer,
    .grid-item{
        width: 48%;
        margin: 1%
    }
    .grid-item--width2 {
        width: 63%;
    }

    .grid-item--width100 {
        width: 98%;
    }


    .grid-item--width50{
        width:48%
    }
}

    </style>
}


@section Sidebar{
    <div>
        <nav class="sidenav">
            <div>
                <div class="text-center text-white">
                    <h3>@Model.Name</h3>
                </div>
                <div class="text-center text-secondary">
                    <h6>@owner.Player.User.UserName</h6>
                </div>
            </div>
            <hr />
            @if (User.Identity.Name != owner.Player.User.UserName && ViewBag.MemberCount < Model.Capacity
       && !requestedToJoin)
            {
<a asp-action="Create" asp-controller="GroupJoinRequests" asp-route-id="@Model.Id"
   asp-route-playerId="@_userManager.GetUserId(User)">Request to join</a> }
else if (requestedToJoin)
{
<a class="text-success">Requested to join</a> }
else if (ViewBag.MemberCount >= Model.Capacity)
{
<a class="text-danger">Group is full!</a>}
            @if (ViewBag.MemberCount == Model.Capacity && isMember)
            {
<a asp-action="PlayingDates" asp-controller="Groups" asp-route-id="@Model.Id">Select playing dates</a>}
            @if (User.Identity.Name == owner.Player.User.UserName)
            {
<a asp-action="Edit" asp-controller="Groups" asp-route-id="@Model.Id">Edit group</a>}
            <hr />
            @if (User.Identity.Name == owner.Player.User.UserName && ViewBag.MemberCount < Model.Capacity)
            {
<a asp-action="AddMembers" asp-controller="Groups" asp-route-id="@Model.Id">Invite members</a>}
            @if (User.Identity.Name == owner.Player.User.UserName && Model.GroupAdvert == null)
            {
<a asp-action="Create" asp-controller="GroupAdverts" asp-route-GroupId="@Model.Id">Create advertisement</a> }
else if (User.Identity.Name == owner.Player.User.UserName)
{
<a asp-action="Details" asp-controller="GroupAdverts" asp-route-GroupId="@Model.Id">View advertisement</a>
                    <a asp-action="Edit" asp-controller="GroupAdverts" asp-route-GroupId="@Model.Id">Edit advertisement</a>
                                        <a asp-action="Delete" asp-controller="GroupAdverts" asp-route-GroupId="@Model.Id">Delete advertisement</a>}
            @if (Model.TimeOfPlaying != null && DateTime.Now > Model.TimeOfPlaying && isMember)
            {
<a asp-action="AddReviews" asp-controller="Groups" asp-route-id="@Model.Id">Review members</a>}
            <hr />
            <div class="mt-6">
                @if (isMember)
                {
<a asp-action="Leave" asp-controller="Groups" asp-route-id="@Model.Id" class="text-danger">Leave group</a>}
                @if(owner.Player.User.UserName == User.Identity.Name)
                {
                    <a class="text-danger" style="font-size:0.75rem;">(Leaving will delegate ownership to someone else or delete the group entirely)</a>
                }
            </div>

        </nav>
    </div>

}
<div class="row grid">
    <div class="grid-sizer"></div>
    <div class="grid-item grid-item--width100">
        <div class="card">
            <div class="card-header">
                <h6>We are playing:</h6>
            </div>
            <div class="card-body">
                <dl>
                    <dd class="d-flex align-items-center">
                        <div>
                            @if (Model.Game.ThumbnailUrl != null)
                            {
                <img src="@Model.Game.PhotoUrl" height="150px" />}
                        </div>
                        <div class="flex-grow-1">
                            <h4>@Model.Game.Name</h4>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--width50 mt-3">
        <div class="card bg-secondary text-white">
            <div class="card-header">
                <h6>About this group: </h6>
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--width50 mt-3">
        <div class="card bg-warning text-white">
            <div class="card-header">
                <h6>Time of playing: </h6>
            </div>
            <div class="card-body">
                @if (Model.TimeOfPlaying == null)
                {
    <span>Time of playing is not set!</span> }
else
{
@Html.DisplayFor(model => model.TimeOfPlaying)}

            </div>
        </div>
    </div>
    <div class="grid-item grid-item--width50 mt-3">
        <div class="card bg-primary text-white">
            <div class="card-header">
                <h6>Group owner:</h6>
            </div>
            <div class="card-body">
                @{ string imgDataURL = null;
                    var byteData = @owner.Player.User.ProfileImage;
                    if (byteData != null)
                    {
                        string imreBase64Data = Convert.ToBase64String(byteData);
                        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                    } }
                <img src="@imgDataURL" class="avatar" />
                @Html.DisplayFor(model => owner.Player.User.UserName)
            </div>
        </div>
    </div>
    <div class="grid-item grid-item--width50 mt-3">
        <div class="card bg-success text-white">
            <div class="card-header">
                <h6>Members:</h6>
            </div>
            <div class="card-body">
                @if (Model.GroupMembers.Count == 1 && Model.GroupMembers[0].Owner)
                {
    <span>There are no members in this group!</span> }
else
{

@foreach (var member in Model.GroupMembers)
{

    string imgData = null;
    var byteDataImg = member.Player.User.ProfileImage;

    if (byteDataImg != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteDataImg);
        imgData = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }


@if (!member.Owner)
{
<div class="d-flex">
    <div class="pb-2 flex-grow-1">
        <img src="@imgData" class="avatar" />
        @member.Player.User.UserName
    </div>
    @if (User.Identity.Name == owner.Player.User.UserName)
    {
<div>
    <a asp-action="Kick" asp-controller="Groups"
       asp-route-id="@Model.Id" asp-route-playerId="@member.PlayerId" class="btn btn-sm btn-danger">Kick</a>
</div>}
</div>}}}

            </div>
        </div>
    </div>
    @if (User.Identity.Name == owner.Player.User.UserName)
    {
<div class="grid-item grid-item--width50 mt-3">
    <div class="card bg-warning text-white">
        <div class="card-header">
            <h6>Invited players:</h6>
        </div>
        <div class="card-body">
            @if (Model.GroupInvitations.Count() == 0)
            {
<span>There are no invited players!</span> }
else
{

@foreach (var invitation in Model.GroupInvitations)
{
    string imgDataInv = null;
    var byteDataImgInv = invitation.InvitedPlayer.User.ProfileImage;

    if (byteDataImgInv != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteDataImgInv);
        imgDataInv = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }
<div class="pb-2">
    <img src="@imgDataInv" class="avatar" />
    @invitation.InvitedPlayer.User.UserName
</div>}}

        </div>
    </div>
</div>}
    @if (User.Identity.Name == owner.Player.User.UserName)
    {
<div class="grid-item grid-item--width50 mt-3">
    <div class="card bg-light">
        <div class="card-header">
            <h6>Group join requests:</h6>
        </div>
        <div class="card-body">
            @if (Model.GroupJoinRequests.Count() == 0)
            {
<span>There are no join requests at the moment...</span> }
else
{

@foreach (var request in Model.GroupJoinRequests)
{
    string imgData = null;
    var byteDataImg = request.Player.User.ProfileImage;

    if (byteDataImg != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteDataImg);
        imgData = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }
<div class="d-flex">
    <div class="pb-2 flex-grow-1">
        <img src="@imgData" class="avatar" />
        @request.Player.User.UserName
    </div>
    <div>
        <a asp-action="Accept" asp-controller="GroupJoinRequests"
           asp-route-id="@Model.Id" asp-route-playerId="@request.PlayerId"><span class="fa fa-check text-success"></span></a>
        <a asp-action="Decline" asp-controller="GroupJoinRequests"
           asp-route-id="@Model.Id" asp-route-playerId="@request.PlayerId" class="ml-3"><span class="fa fa-times text-danger"></span></a>
    </div>
</div>}}

        </div>
    </div>
</div>}
    @if (User.Identity.Name == owner.Player.User.UserName)
    {
<div class="grid-item grid-item--width50 mt-3">
    <div class="card bg-danger text-white">
        <div class="card-header">
            <h6>Set playing date:</h6>
        </div>
        <div class="card-body">
            <form asp-action="SetPlayingDate" asp-controller="Groups">
                <div asp-validation-summary="ModelOnly" class="text-danger">

                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group input-group">
                    <input asp-for="TimeOfPlaying" class="form-control" />
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Set" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>}


    @if (isMember)
    {
<div class="grid-item grid-item--width100 mt-3 mb-4">
    <form asp-action="CreateGroupMessage" asp-controller="Chat"
          data-ajax-begin="clearInputField" data-ajax-complete=""
          data-ajax-failure="alert('Fail')" data-ajax-success="sendGroupMessage"
          data-ajax="true" data-ajax-method="POST"
          autocomplete="off">
        <div class="card">

            <div class="card-header">
                <h6>Chat:</h6>
            </div>
            <div class="card-body p-0 m-0">
                <div class="pr-3 bg-light pt-3">
                    <div class="row" id="chatContainer">
                        <div class="col-md-12 scrollable" id="chat" style="height:40vh ;overflow-y:scroll;overflow-x:hidden">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="type_msg">
                    <div class="input_msg_write d-flex align-items-center">
                        <div class="flex-grow-1">
                            <input id="messageText" name="Text" class="write_msg" placeholder="Type a message" />
                        </div>
                        <div>
                            <button type="submit" id="submitButton" class="msg_send_btn"><span class=" fa fa-paper-plane"></span></button>
                        </div>
                    </div>
                </div>

                <input type="hidden" value="@userId" name="senderid" />
                <input type="hidden" value="@userName" name="senderUserName" />
                <input type="hidden" value="@groupId" name="groupId" />
            </div>
        </div>
    </form>
</div>}

    @if (Model.LocationXCoordinate != null && Model.LocationYCoordinate != null
&& Model.LocationRadius != null)
    {
<div class="grid-item grid-item--width100 mt-3 mb-4">
    <div class="card">
        <div class="card-header">
            <h6>Playing location:</h6>
        </div>
        <div class="card-body m-0 p-0">
            <div id="mapid" class="flex-grow-1">

            </div>

        </div>
    </div>
</div>}
</div>





@section Scripts{
    <script>
        const userName = "@ViewBag.CurrentUserName";
        const userId = "@ViewBag.CurrentUserId";
        const groupId = "@ViewBag.GroupId";
    </script>
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/groupchat.js"></script>
    <script src="~/js/InfinityScroll.js"></script>

    <script>
        var infinityScroll = new InfinitiySroll("chat", "/Groups/_MessagePartial/@groupId", { sortOrder: "ascending", searchString: "3" });
    </script>

    <script>
        var map = L.map('mapid').setView([@Model.LocationXCoordinate, @Model.LocationYCoordinate], 14);
        mapLink =
            '<a href="https://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);
        L.circle([@Model.LocationXCoordinate, @Model.LocationYCoordinate],
            { radius: @Model.LocationRadius }).addTo(map);
    </script>


    <script src="~/js/isotope.pkgd.min.js"></script>
    <script>
        $('.grid').isotope({
            // set itemSelector so .grid-sizer is not used in layout
            itemSelector: '.grid-item',
            percentPosition: true,
            masonry: {
                // use element for option
                columnWidth: '.grid-sizer'
            }
        })
    </script>
}