﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.Models.Group>

@{ ViewData["Title"] = "Index"; }

@section Sidebar{
    @if (ViewBag.User != null)
    {
        string imgDataUrl = null;
        var byteDataImg = ViewBag.User.ProfileImage;
        if (byteDataImg != null)
        {
            string imreBase64Data = Convert.ToBase64String(byteDataImg);
            imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
        }
<div>
    <nav class="sidenav">
        <div>

            <div class="text-center">
                <img src="@imgDataUrl" class="avatar" />
            </div>
            <div class="text-center text-white">
                <h3>@ViewBag.User.UserName</h3>
            </div>
            <div class="text-center text-secondary">
                <h6>@ViewBag.User.Email</h6>
            </div>
        </div>
        <hr />
        @if (User.Identity.Name == ViewBag.User.UserName)
        {
<a href="../../Identity/Account/Manage">Account settings</a>}
        <hr />
        @if (User.Identity.Name == ViewBag.User.UserName)
        {
<a asp-action="Index" asp-controller="Exchanges">My exchanges</a>
                        <a asp-action="Index" asp-controller="Rentals">My rentals</a>
                                                <a asp-action="Index" asp-controller="GroupInvitations">Group Invitations</a>}
        @if (User.Identity.Name == ViewBag.User.UserName)
        {
<a class="bg-secondary" asp-action="Index" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">My groups</a>}
        @if (User.Identity.Name == ViewBag.User.UserName)
        {
<a asp-action="Index" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">My collection</a>}
        <hr />
        @if (User.Identity.Name == ViewBag.User.UserName)
        {
<a asp-action="Create" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">Add game to collection</a>
                        <a asp-action="Create" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">Create group</a>}
    </nav>
</div>}
}
<h1>Groups</h1>
<div class="row">
    <div class="col-4">
        <form asp-action="Index" method="get" class="form-group input-group">
            <input type="text" name="query" class="form-control" />
            <button type="submit" class="btn btn-primary input-group-append d-flex align-items-center"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-8"></div>

    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name:
                </th>
                <th>
                    Game:
                </th>
                <th></th>
                <th>
                    Owner:
                </th>
                <th>
                    Time of playing:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                var owner = item.GroupMembers.Where(gm => gm.Owner).FirstOrDefault();
<tr>
    <td class="vertical-align-middle">
        <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>

    </td>
    <td class="vertical-align-middle">
        <div class="d-inline">
            <img width="100px" height="100px" src="@item.Game.PhotoUrl" />
        </div>
    </td>
    <td class="vertical-align-middle">
        <div class="d-inline">
            <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Game.Id">
                @item.Game.Name
            </a>
        </div>
    </td>
    <td class="vertical-align-middle">
        @owner.Player.User.UserName
    </td>
    <td class="vertical-align-middle">
        @item.TimeOfPlaying
    </td>
    <td class="vertical-align-middle">
        <a asp-controller="Groups" asp-action="Edit" asp-route-id="@item.Id" class="text-success fa fa-edit"></a>
        <a asp-controller="Groups" asp-action="Delete" asp-route-id="@item.Id" class="text-danger fa fa-trash"></a>
    </td>
</tr>}
        </tbody>
    </table>

    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>