﻿
@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css">

}

<div class="row mb-3">
    <a asp-controller="Groups"
       asp-action="Details"
       asp-route-id="@ViewBag.GroupId" class="btn btn-secondary">Back to group</a>
</div>

<div class="row">
    <div id="external-events" class="row col-3">
        <div class="col-12">
            <p>
                <strong>Drag event block to dates when you can play!</strong>
            </p>
            <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
                <div class="fc-event-main m-2">@User.Identity.Name</div>
            </div>
            <p><strong>You can delete events by dragging them below</strong></p>
            <div id="calendarTrash" class="calendar-trash text-center">
                <span class="fa fa-2x fa-trash"></span>
            </div>
        </div>
    </div>



    <div id="calendar-container" class="col-9">
        <div id="calendar"></div>
    </div>
</div>




@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/locales-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous"></script>
    <script>
        var groupId = "@ViewBag.GroupId";
    </script>
    <script src="~/js/calendar.js"></script>
}