﻿@model GameEx.Models.Renter

@{
    ViewData["Title"] = "Delete";
    var userId = ViewData["userId"].ToString();
}

<div class="text-center">
    <h3>Are you sure you want to delete this profile?</h3>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.WebAddress)
        </dd>
        <dt class = "col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.OIB)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.OIB)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href="@ViewBag.prevPage" class="btn btn-outline-secondary">Back</a>
    </form>
</div>
