﻿@model GameEx.Models.Renter
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = @Html.DisplayFor(model => model.CompanyName);
    var userId = ViewData["userId"].ToString();

    string imgDataURL = null;
    var byteData = UserManager.FindByIdAsync(Model.Id).Result.ProfileImage;
    if (byteData != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteData);
        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }
}

@section Sidebar{
    <div>
        <nav class="sidenav">
            <div>

                <div class="text-center">
                    <img src="@imgDataURL" class="avatar" />
                </div>
                <div class="text-center text-white">
                    <h3>@Model.User.UserName</h3>
                </div>
                <div class="text-center text-secondary">
                    <h6>@Html.DisplayFor(model => model.User.Email)</h6>
                </div>
            </div>
            <hr />
            @if (userId == Model.User.Id)
            {
                <a asp-controller="InventoryItems" asp-action="Index">Inventory</a>
                <a href="../../Identity/Account/Manage">Edit account</a>
                <a id="edit-tab" asp-action="Edit" asp-route-id="@Model.Id">Edit profile</a>
                <a id="delete-tab" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

            }
            <hr />
            @if (userId == Model.User.Id)
            {
                <a asp-action="Index" asp-controller="Rentals">My rentals</a>
            }
        </nav>
    </div>

}

<ul class="nav nav-tabs" id="mytab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="offgames-tab" data-toggle="tab" href="#offgames" role="tab" aria-controls="offgames" aria-selected="true">Games</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contacts</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane show active" id="offgames" role="tabpanel" aria-labelledby="offgames-tab">
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width:15%">

                    </th>
                    <th style="width:30%">
                        Name
                    </th>
                    <th>
                        Availability
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InventoryItems)
                {
                    <tr>
                        <td align="center">
                            <a href="@(item.Game.Link != null? item.Game.Link: "") ">
                                <img style="width:100px;height:100px" src="@item.Game.PhotoUrl" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="InventoryItems" asp-action="Details"
                               asp-route-id="@item.GameId"
                               asp-route-renterId="@item.RenterId">@item.Game.Name</a>
                        </td>
                        @if (item.Quantity - item.Rentals.Count() > 0)
                        {
                            <td>Available</td>
                        }
                        else
                        {
                            <td>Unavailable</td>
                        }
                        <td>
                            @item.Price.ToString("0.00") $
                        </td>
                        @if (item.Quantity - item.Rentals.Count() > 0)
                        {
                            <td style="width:160px" class="align-items-center">
                                <div>
                                    <a asp-controller="Cart" asp-action="AddToCart"
                                       asp-route-id="@item.GameId" asp-route-renterId="@item.RenterId"
                                       class="btn btn-warning">
                                        <span class="fa fa-shopping-cart mr-2"></span>Add to cart
                                    </a>
                                </div>

                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <cs-pager cs-paging-pagenumber=@ViewBag.PageNumber
                  cs-paging-totalitems=@ViewBag.TotalItems
                  cs-paging-pagesize=@ViewBag.PageSize
                  cs-pagenumber-param="pageNumber"
                  asp-controller="Renter"
                  asp-action="Details"
                  asp-route-id="@Model.Id"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link"></cs-pager>

    </div>
    <div class="tab-pane" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <br />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WebAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WebAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.Email)
            </dd>
        </dl>
    </div>
</div>

