﻿@model GameEx.Models.Renter

@{
    ViewData["Title"] = "Edit";
}

@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@{ var user = await UserManager.GetUserAsync(User);
    string imgDataURL = null;
    var byteData = user.ProfileImage;
    if (byteData != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteData);
        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
    } }

@section Sidebar{
    <div>
        <nav class="sidenav">
            <div>

                <div class="text-center">
                    <img src="@imgDataURL" class="avatar" />
                </div>
                <div class="text-center text-white">
                    <h3>@user.UserName</h3>
                </div>
                <div class="text-center text-secondary">
                    <h6>@Html.DisplayFor(model => user.Email)</h6>
                </div>
            </div>
            <hr />
            @if (User.Identity.Name == user.UserName)
            {
                <a asp-controller="InventoryItems" asp-action="Index">Inventory</a>
                <a href="../../Identity/Account/Manage">Edit account</a>
                <a id="edit-tab" class="bg-secondary" asp-action="Edit" asp-controller="Renter" asp-route-id="@user.Id">Edit profile</a>}
            <hr />
            @if (User.Identity.Name == user.UserName)
            {
                <a asp-action="Index" asp-controller="Rentals">My rentals</a>}
        </nav>
    </div>

}

<h1>Edit company data</h1>
<hr />
<div>
    <form asp-action="Edit" class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebAddress" class="control-label"></label>
                <input asp-for="WebAddress" class="form-control" />
                <span asp-validation-for="WebAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OIB" class="control-label"></label>
                <input asp-for="OIB" maxlength="11" class="form-control" />
                <span asp-validation-for="OIB" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-12">
            <hr />
        </div>
        <div class="form-group col-md-12">
            <input type="submit" value="Save" class="btn btn-success" />
            <a href="@ViewBag.prevPage" class="btn btn-outline-secondary">Back</a>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
