﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.ViewModels.RenterViewModel>
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@{
    ViewData["Title"] = "Index";
}

<div class="mb-3">
    <h1>List of all registered renters</h1>
</div>


<cs-pager cs-paging-pagenumber=@Model.PageNumber
          cs-paging-totalitems=@Model.TotalItems
          cs-paging-pagesize=@Model.PageSize
          cs-pagenumber-param="pageNumber"
          asp-controller="Renter"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Company name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone number
            </th>
            <th>
                Web address
            </th>
            <th>
                OIB
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @{
                    string imgDataURL = null;
                    var byteData = item.User.ProfileImage;
                    if (byteData != null)
                    {
                        string imreBase64Data = Convert.ToBase64String(byteData);
                        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                    }
                }
                <img class="avatar mr-2" src="@imgDataURL" />
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.CompanyName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OIB)
            </td>
            <td>
                @if (await _userManager.IsInRoleAsync(await _userManager.GetUserAsync(User), "Administrator")
               || await _userManager.IsInRoleAsync(await _userManager.GetUserAsync(User), "Moderator"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                    
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                }
                <a class="btn btn-outline-primary" asp-controller="Chat" asp-action="User" asp-route-id="@item.Id"><span class="fa fa-comment"></span></a>
            </td>
        </tr>
}
    </tbody>
</table>
<cs-pager cs-paging-pagenumber=@Model.PageNumber
          cs-paging-totalitems=@Model.TotalItems
          cs-paging-pagesize=@Model.PageSize
          cs-pagenumber-param="pageNumber"
          asp-controller="Renter"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>
