﻿@model GameEx.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this user?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Username:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Email:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Roles:
        </dt>
        <dd class="col-sm-10">
            @foreach (var role in Model.Role)
            {
                <span>@role</span><br />
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-secondary">Back</a>
    </form>
</div>