﻿@model GameEx.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.UserId = Model.Id;
}
<h1>@Model.UserName</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>User</h4>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label">Username:</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email:</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailConfirmed" class="control-label">Email confirmation status:</label>
                        <input asp-for="EmailConfirmed" class="form-check" />
                        <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Phone number:</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneConfirmed" class="control-label">Phone confirmation status:</label>
                        <input asp-for="PhoneConfirmed" class="form-check" />
                        <span asp-validation-for="PhoneConfirmed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        @await Html.PartialAsync("Role", (List<GameEx.ViewModels.UserRoleViewModel>)ViewBag.RoleData,ViewData)
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
