﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1 class="mb-3">List of all registered users</h1>

<div>
    @if (Model.Data.Any())
    {
        <cs-pager cs-paging-pagenumber=@Model.PageNumber
                  cs-paging-totalitems=@Model.TotalItems
                  cs-paging-pagesize=@Model.PageSize
                  cs-pagenumber-param="pageNumber"
                  asp-controller="User"
                  asp-action="Index"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link"></cs-pager>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        Username
                    </th>
                    <th class="text-center">
                        Role
                    </th>
                    <th class="text-center">
                        Email
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @foreach (var role in item.Role)
                            {
                                @role <br />

                            }
                            @if (!item.Role.Any())
                            {

                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailConfirmed)
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Edit</a>
                            @if (item.Id != (string)ViewData["userId"] || (int)ViewData["adminCount"] > 1 || (string)ViewData["userRole"] != "Administrator")
                            {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <cs-pager cs-paging-pagenumber=@Model.PageNumber
                  cs-paging-totalitems=@Model.TotalItems
                  cs-paging-pagesize=@Model.PageSize
                  cs-pagenumber-param="pageNumber"
                  asp-controller="User"
                  asp-action="Index"
                  cs-pager-li-current-class="page-item active"
                  cs-pager-li-other-class="page-item"
                  cs-pager-li-non-active-class="page-item disabled"
                  cs-pager-link-current-class="page-link"
                  cs-pager-link-other-class="page-link"></cs-pager>
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No users found.
            </div>
            <div class="card-body">
                There are currently no users registered.
            </div>
        </div>
    }
</div>