﻿@model List<GameEx.ViewModels.UserRoleViewModel>

@{ 
    ViewData["Title"] = "Manage user roles";
}

<div class="card">
    <div class="card-header">
        <h3>Roles:</h3>
    </div>
    <form asp-action="Role" asp-route-id="@ViewBag.UserId">
        <div class="card-body">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input asp-for="@Model[i].RoleId" type="hidden" />
                    <input asp-for="@Model[i].RoleName" type="hidden" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model[i].IsSelected" class="form-check-label">@Model[i].RoleName</label><br />
                </div>
            }

        </div>
        <div class="form-check m-1">
            <input type="submit" value="Save" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
    <br />
</div>