﻿@model GameEx.ViewModels.RentalDetailsViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this rental?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img style="width:200px" src="@Model.InventoryItem.Game.PhotoUrl" />
        </dd>
        <dt class="col-sm-2">
            Game
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryItem.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.UserName)
        </dd>
        <dt class="col-sm-2">
            Renter
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Renter.CompanyName)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @(Model.IsReturned == true ? "Returned" : "Not returned")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfRent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfReturn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfReturn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.Player.Id" />
        <input type="hidden" asp-for="@Model.Renter.Id" />
        <input type="hidden" asp-for="@Model.InventoryItem.GameId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="History">Back to List</a>
    </form>
</div>
