﻿@model GameEx.ViewModels.RentalDetailsViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@{
    ViewData["Title"] = "Rental details";
}

<h1>Details</h1>
<div>
    <a asp-controller="Rentals" asp-action="Index" class="btn btn-outline-primary">Back to list</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            <img style="max-height:250px;max-width:100%" src="@Model.InventoryItem.Game.PhotoUrl" />
        </dt>
        <dd class="col-sm-7">
            <div><b>Game:</b> @Html.DisplayFor(model => model.InventoryItem.Game.Name)</div>
            <div><b>@Html.DisplayNameFor(model => model.Player):</b> @Html.DisplayFor(model => model.Player.UserName)</div>
            <div><b>Renter:</b> @Html.DisplayFor(model => model.Renter.CompanyName)</div>
            <div><b>Status:</b> @(Model.IsReturned == true ? "Returned" : "Not returned")</div>
            <div><b>@Html.DisplayNameFor(model => model.DateOfRent):</b> @Html.DisplayFor(model => model.DateOfRent)</div>
            <div><b>@Html.DisplayNameFor(model => model.DateOfReturn):</b> @Html.DisplayFor(model => model.DateOfReturn)</div>
        </dd>
    </dl>
</div>

@if (await _userManager.IsInRoleAsync(await _userManager.GetUserAsync(User), "Renter"))
{
    <div>
        <a asp-action="Return" asp-controller="Rentals" asp-route-id="@Model.Id">Game returned...</a>
    </div>
}
