﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.ViewModels.RentalViewModel>

@{
    ViewData["Title"] = "Rental history";
}

<h1>Rental history</h1>
<p>
    <div style="text-align:end">
        <a asp-action="Index" class="btn btn-outline-primary">My active rentals</a>
    </div>
</p>

<cs-pager cs-paging-pagenumber=@Model.PageNumber
          cs-paging-totalitems=@Model.TotalItems
          cs-paging-pagesize=@Model.PageSize
          cs-pagenumber-param="pageNumber"
          asp-controller="Rentals"
          asp-action="History"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Date of renting
            </th>
            <th>
                Date of return
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    <img style="width:100px;height:100px" src="@item.InventoryItem.Game.PhotoUrl" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.InventoryItem.Game.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfReturn)
                </td>
                <td>
                    @if (item.IsReturned == true)
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger fa fa-trash"></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>