﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.ViewModels.RentalViewModel>

@{
    ViewData["Title"] = "My active rentals";
}

@{ string imgDataUrl = null;
    var byteDataImg = ViewBag.User.ProfileImage;
    if (byteDataImg != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteDataImg);
        imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
    } }
@section Sidebar{
    @if (ViewBag.Role == "Player")
    {
        <div>
            <nav class="sidenav">
                <div>

                    <div class="text-center">
                        <img src="@imgDataUrl" class="avatar" />
                    </div>
                    <div class="text-center text-white">
                        <h3>@ViewBag.User.UserName</h3>
                    </div>
                    <div class="text-center text-secondary">
                        <h6>@ViewBag.User.Email</h6>
                    </div>
                </div>
                <hr />
                @if (User.Identity.Name == ViewBag.User.UserName)
                {
                    <a href="../../Identity/Account/Manage">Account settings</a>}
                <hr />
                @if (User.Identity.Name == ViewBag.User.UserName)
                {
                    <a asp-action="Index" asp-controller="Exchanges">My exchanges</a>
                    <a class="bg-secondary" asp-action="Index" asp-controller="Rentals">My rentals</a>
                    <a asp-action="Index" asp-controller="GroupInvitations">Group Invitations</a>}
                @if (User.Identity.Name == ViewBag.User.UserName)
                {
                    <a asp-action="Index" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">My groups</a>}
                @if (User.Identity.Name == ViewBag.User.UserName)
                {
                    <a asp-action="Index" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">My collection</a>}
                <hr />
                @if (User.Identity.Name == ViewBag.User.UserName)
                {
                    <a asp-action="Create" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">Add game to collection</a>
                    <a asp-action="Create" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">Create group</a>}
            </nav>
        </div>
    }
    else if (ViewBag.Role == "Renter")
    {
        <div>
            <nav class="sidenav">
                <div>

                    <div class="text-center">
                        <img src="@imgDataUrl" class="avatar" />
                    </div>
                    <div class="text-center text-white">
                        <h3>@ViewBag.User.UserName</h3>
                    </div>
                    <div class="text-center text-secondary">
                        <h6>@ViewBag.User.Email</h6>
                    </div>
                </div>
                <hr />
                @if (User.Identity.Name == ViewBag.User.UserName)
                {
                    <a asp-controller="InventoryItems" asp-action="Index">Inventory</a>
                    <a href="../../Identity/Account/Manage">Edit account</a>
                    <a id="edit-tab" asp-controller="Renter" asp-action="Edit" asp-route-id="@ViewBag.User.Id">Edit profile</a>
                }
                <hr />
                @if (User.Identity.Name == ViewBag.User.UserName)
                {
                    <a class="bg-secondary" asp-action="Index" asp-controller="Rentals">My rentals</a>
                }
            </nav>
        </div>

    }
}

<h1>Active rentals</h1>

<p>
    <div style="text-align:end">
        <a asp-action="History" class="btn btn-outline-primary">Rental history</a>
    </div>
</p>

<cs-pager cs-paging-pagenumber=@Model.PageNumber
          cs-paging-totalitems=@Model.TotalItems
          cs-paging-pagesize=@Model.PageSize
          cs-pagenumber-param="pageNumber"
          asp-controller="Rentals"
          asp-action="Index"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"></cs-pager>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Name
            </th>
            <th>
                Date of renting
            </th>
            <th>
                Date of return
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    <img style="width:100px;height:100px" src="@item.InventoryItem.Game.PhotoUrl" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.InventoryItem.Game.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfReturn)
                </td>
            </tr>
        }
    </tbody>
</table>
