﻿@model GameEx.Models.Player
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Details";
}


@{
    string imgDataURL = null;
    var byteData = @Model.User.ProfileImage;
    if (byteData != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteData);
        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }
}

@section Sidebar{
    <div>
        <nav class="sidenav">
            <div>

                <div class="text-center">
                    <img src="@imgDataURL" class="avatar" />
                </div>
                <div class="text-center text-white">
                    <h3>@Model.User.UserName</h3>
                </div>
                <div class="text-center text-secondary">
                    <h6>@Html.DisplayFor(model => model.User.Email)</h6>
                </div>
            </div>
            <hr />
            @if ((string)ViewData["userId"] == Model.User.Id)
            {

                <a href="../../Identity/Account/Manage">Account settings</a>

            }
            <hr />
            @if ((string)ViewData["userId"] == Model.User.Id)
            {
                <a asp-action="Index" asp-controller="Exchanges">My exchanges</a>
                <a asp-action="Index" asp-controller="Rentals">My rentals</a>
                <a asp-action="Index" asp-controller="GroupInvitations">Group Invitations</a>
            }
            @if ((string)ViewData["userId"] == Model.User.Id)
            {
                <a asp-action="Index" asp-controller="Groups" asp-route-id="@Model.Id">My groups</a>
            }
            @if ((string)ViewData["userId"] == Model.User.Id)
            {
                <a asp-action="Index" asp-controller="PlayerGames" asp-route-id="@Model.Id">My collection</a>
            }
            <hr />
            @if ((string)ViewData["userId"] == Model.User.Id)
            {
                <a asp-action="Create" asp-controller="PlayerGames" asp-route-id="@Model.Id">Add game to collection</a>
                <a asp-action="Create" asp-controller="Groups" asp-route-id="@Model.Id">Create group</a>
            }
        </nav>
    </div>

}


<br />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="true">Games</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="false">Groups</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="exchanges-tab" data-toggle="tab" href="#exchanges" role="tab" aria-controls="exchanges" aria-selected="false">Exchanges</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="games" role="tabpanel" aria-labelledby="games-tab">
        <div class="pt-3">
            @if (ViewBag.GameCollectionCount <= 0)
            {
                <p>This player has no games in their collection</p>
            }
            else
            {
                <table class=" table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2" class="text-center">Game:</th>
                            <th>
                                Game Category:
                            </th>
                            @if ((string)ViewData["userId"] != Model.User.Id)
                            {
                                <th>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PlayerGame item in ViewBag.GameCollection)
                        {
                            <tr>
                                <td class="text-center">
                                    <img height="100px" src="@item.Game.ThumbnailUrl" />
                                </td>
                                <td>

                                    <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Game.Id">
                                        @Html.DisplayFor(modelItem => item.Game.Name)
                                    </a>
                                </td>
                                <td>
                                    @foreach (var cat in @item.Game.GameCategoryGames)
                                    {
                                        @Html.DisplayFor(category => cat.GameCategory.Name)<br />
                                    }
                                </td>
                                <td>
                                    @if ((string)ViewData["userId"] != Model.User.Id && item.WillingToTrade)
                                    {

                                        <a asp-controller="Exchanges" asp-action="Offer"
                                           asp-route-targId="@item.PlayerId"
                                           asp-route-wantId="@item.GameId" class="btn btn-outline-primary">Offer exchange</a>

                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="pl-6 ml-6">
                    @if (ViewBag.GameCollectionCount > 5)
                    {
                        <a asp-controller="PlayerGames" asp-action="Index" asp-route-id="@Model.Id">
                            View all games in collection
                        </a>
                    }
                </div>
            }
            <br />
        </div>

    </div>
    <div class="tab-pane" id="groups" role="tabpanel" aria-labelledby="groups-tab">
        <div class="pt-3">
            @if (@Model.GroupMemberships.Count() <= 0)
            {
                <p>The player is not a member of any groups</p>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Name:
                            </th>
                            <th>
                                Game:
                            </th>
                            <th></th>
                            <th>
                                Time of playing:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.GroupMemberships)
                        {
                            <tr>
                                <td class="vertical-align-middle">
                                    <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.Group.Id">@item.Group.Name</a>

                                </td>
                                <td class="vertical-align-middle">
                                    <div class="d-inline">
                                        <img width="100px" height="100px" src="@item.Group.Game.PhotoUrl" />
                                    </div>
                                </td>
                                <td class="vertical-align-middle">
                                    <div class="d-inline">
                                        <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Group.Game.Id">
                                            @item.Group.Game.Name
                                        </a>
                                    </div>
                                </td>
                                <td class="vertical-align-middle">
                                    @item.Group.TimeOfPlaying
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <br />
        </div>
    </div>
    <div class="tab-pane" id="exchanges" role="tabpanel" aria-labelledby="exchanges-tab">
        <br />
        @if ((string)ViewData["userId"] != Model.User.Id)
        {
            @if (@Model.TargetedExchanges.Count() <= 0 && @Model.InitiatedExchanges.Count() <= 0)
            {
                <p>You don't have any exchanges with this player</p>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Wanted Game:
                            </th>
                            <th>
                                My Game:
                            </th>
                            <th>
                                Exchange status:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.TargetedExchanges)
                        {
                            <tr>
                                <td class="vertical-align-middle">
                                    <img src="@item.WantedGame.ThumbnailUrl" width="75px" />
                                    @Html.DisplayFor(modelitem => item.WantedGame.Name)
                                </td>
                                <td class="vertical-align-middle">
                                    <img src="@item.OfferedGame.ThumbnailUrl" width="75px" />
                                    @Html.DisplayFor(modelitem => item.OfferedGame.Name)
                                </td>
                                <td class="vertical-align-middle">
                                    @Html.DisplayFor(modelitem => item.ExchangeStatus.Name)
                                </td>
                            </tr>
                        }
                        @foreach (var item in @Model.InitiatedExchanges)
                        {
                            <tr>
                                <td class="vertical-align-middle">
                                    <img src="@item.OfferedGame.ThumbnailUrl" width="75px" />
                                    @Html.DisplayFor(modelitem => item.OfferedGame.Name)
                                </td>
                                <td class="vertical-align-middle">
                                    <img src="@item.WantedGame.ThumbnailUrl" width="75px" />
                                    @Html.DisplayFor(modelitem => item.WantedGame.Name)
                                </td>
                                <td class="vertical-align-middle">
                                    @Html.DisplayFor(modelitem => item.ExchangeStatus.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            @if (@Model.TargetedExchanges.Count() <= 0 && @Model.InitiatedExchanges.Count() <= 0)
            {
                <p>You don't have any exchanges</p>
            }
            else
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Wanted Game:
                            </th>
                            <th>
                                My Game:
                            </th>
                            <th>
                                Exchange status:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.TargetedExchanges)
                        {
                            <tr>
                                <td class="vertical-align-middle">
                                    <img src="@item.OfferedGame.ThumbnailUrl" width="75px" />
                                    @Html.DisplayFor(modelitem => item.OfferedGame.Name)
                                </td>
                                <td class="vertical-align-middle">
                                    <img src="@item.WantedGame.ThumbnailUrl" width="75px" />
                                    @Html.DisplayFor(modelitem => item.WantedGame.Name)
                                </td>
                                <td class="vertical-align-middle">
                                    @Html.DisplayFor(modelitem => item.ExchangeStatus.Name)
                                </td>
                            </tr>
                        }
                        @foreach (var item in @Model.InitiatedExchanges)
                        {
                            <tr>
                                <td class="vertical-align-middle">
                                    <img src="@item.WantedGame.ThumbnailUrl" width="75px" />
                                    @Html.DisplayFor(modelitem => item.WantedGame.Name)
                                </td>
                                <td class="vertical-align-middle">
                                    <img src="@item.OfferedGame.ThumbnailUrl" width="75px" />
                                    @Html.DisplayFor(modelitem => item.OfferedGame.Name)
                                </td>
                                <td class="vertical-align-middle">
                                    @Html.DisplayFor(modelitem => item.ExchangeStatus.Name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        <br />
    </div>
    <div class="tab-pane" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
        <br />
        @if (((List<Review>)ViewData["Reviews"]).Count() <= 0)
        {
            <p>There are no reviews at the moment</p>
        }
        else
        {
            <table class="table table-hover">
                <tbody>
                    @foreach (var item in (List<Review>)ViewData["Reviews"])
                    {
                        <tr>
                            <td>
                                @for (var i = 0; i < item.Rating; i++)
                                {
                                    <span class="fa fa-star text-warning"></span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Reviewer.User.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Text)
                            </td>
                            @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Moderator"))
                            {
                                <td>
                                    <a asp-controller="Reviews" asp-action="Edit" asp-route-ReviewedPlayerId="@item.ReviewedPlayerId"
                                       asp-route-GroupId="@item.GroupId"
                                       asp-route-TimeWritten="@item.TimeWritten" 
                                       asp-route-ReviewerId="@item.ReviewerId"
                                       class="text-success fa fa-edit"></a>
                                    <a a asp-controller="Reviews" asp-action="Delete" asp-route-ReviewedPlayerId="@item.ReviewedPlayerId"
                                       asp-route-GroupId="@item.GroupId"
                                       asp-route-TimeWritten="@item.TimeWritten" 
                                       asp-route-ReviewerId="@item.ReviewerId" class="text-danger fa fa-trash"></a>
                                </td>

                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        <br />
    </div>
</div>
