﻿@model GameEx.Models.Player

@{
    ViewData["Title"] = "Edit";
}
@section Styles{
    <link rel="stylesheet" runat="server" media="screen" href="~/css/styleForRegistrationLogin.css" />
}

<!--@if ((string)ViewData["userId"] == @Model.User.Id)
{
    <h1>Edit</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="User.UserName" class="control-label">Username</label>
                    <input asp-for="User.UserName" class="form-control" />
                    <span asp-validation-for="User.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label">Email</label>
                    <input asp-for="User.Email" class="form-control" />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.PhoneNumber" class="control-label">Phone number</label>
                    <input asp-for="User.PhoneNumber" class="form-control" />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="row d-flex justify-content-center form-group" style="height:150px;">
                    <div class="small-12 medium-2 large-2 columns d-flex justify-content-center">
                        <div class="circle d-flex justify-content-center  align-items-center">
                            <img class="profile-pic" id="profile-pic-player" src="">

                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="p-image align-self-end">
                            <i class="fa fa-camera upload-button" id="upload-button-player"></i>
                            <input asp-for="User.ProfileImage" class="file-upload custom-file-input" id="file-upload-player" type="file" accept="image/*" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to Profile</a>
    </div>

    //@section Scripts {
        //@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <partial name="_ValidationScriptsPartial" />
        <script>
            $(document).ready(function () {


                var readURL = function (input) {
                    console.log(input.id);

                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            if (input.id.includes("player")) {
                                $('#profile-pic-player').attr('src', e.target.result);
                            } else {
                                $('#profile-pic-renter').attr('src', e.target.result);
                            }

                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }
            });
        </script>
    }

}
else
{
    <p>You are not authorized to edit this profile</p>
}-->








<div class="row">
    <div class="col-12">
                <hr />
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <input type="hidden" asp-for="Id" />
                            <div class="row d-flex justify-content-center form-group" style="height:150px;">
                                <div class="small-12 medium-2 large-2 columns d-flex justify-content-center">
                                    <div class="circle d-flex justify-content-center  align-items-center">
                                        <img class="profile-pic" id="profile-pic-player" src="">
                                        <!-- Default Image -->
                                        <i class="fa fa-user fa-5x"></i>
                                    </div>
                                    <div class="p-image align-self-end">
                                        <i class="fa fa-camera upload-button" id="upload-button-player"></i>
                                        <input asp-for="User.ProfileImage" class="file-upload custom-file-input" id="file-upload-player" type="file" accept="image/*" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="User.UserName"></label>
                                <input asp-for="User.UserName" class="form-control" />
                                <span asp-validation-for="User.UserName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="User.Email"></label>
                                <input asp-for="User.Email" class="form-control" />
                                <span asp-validation-for="User.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#upload-button-player").on('click', function () {
                $("#file-upload-player").click();
            });

            //var readURL = function (input) {
               // console.log(input.id);

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                            $('#profile-pic-player').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            //}

            
        });
    </script>
}
