﻿@model IEnumerable<GameEx.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Players</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>User name</th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="padding-top:18px">
                    @{ string imgDataURL = null;
                                        var byteData = item.User.ProfileImage;
                                        if (byteData != null)
                                        {
                                            string imreBase64Data = Convert.ToBase64String(byteData);
                                            imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                        } }
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <div class="list-inline-item">
                            <img src="@imgDataURL" class="avatar" />

                            @Html.DisplayFor(modelItem => item.User.UserName)

                        </div>
                    </a>
                </td>
                <td style="padding-top:18px">
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>

                    <a asp-controller="Chat" asp-action="MessageUser" asp-route-id="@item.Id" class="btn btn-outline-primary"><span class="fa fa-comment"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
