﻿@model GameEx.Models.Player
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Rentals";
}

@if ((string)ViewData["userId"] == @Model.Id)
{
    <h1>Rentals</h1>

    <div>
        <a asp-action="Details" asp-route-id="@Model.Id">Back to Player's Profile</a>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Player email
                </th>
                <th>
                    Renter id
                </th>
                <th>
                    Game id
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Rentals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Player.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RenterId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.InventoryItem.GameId">Return</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You are not authorized to see this page</p>
}