﻿@model GameEx.Models.InventoryItem

@{
    ViewData["Title"] = "Add new inventory item";
}

<h1>Add new inventory item</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ui-widget">
                <label asp-for="GameId" class="control-label">Select a game for your inventory</label><br />
                <input type="hidden" asp-for="GameId" id="GameIdField" />
                <input type="text" id="GameAutocomplete" name="GameName" class="form-control">
                <span asp-validation-for="GameId" class="text-danger"></span><br />
                <a asp-controller="GameSuggestions" asp-action="Create">Didn't find your game? Suggest adding it...</a>
            </div>
            
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            function split(val) {
                return val.split(/,\s*/);
            }
            function extractLast(term) {
                return split(term).pop();
            }

            $("#GameAutocomplete")
                // don't navigate away from the field on tab when selecting an item
                .on("keydown", function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                        $(this).autocomplete("instance").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    source: function (request, response) {
                        $.getJSON("/Game/Api", {
                            term: extractLast(request.term)
                        }, response);
                    },
                    search: function () {
                        // custom minLength
                        var term = extractLast(this.name);
                        if (term.length < 2) {
                            return false;
                        }
                    },
                    focus: function () {
                        // prevent value inserted on focus
                        return false;
                    },
                    select: function (event, ui) {
                        var terms = split(this.name);
                        terms.pop();
                        terms.push(ui.item.name);
                        this.value = terms;
                        $('#GameIdField').attr('value', ui.item.id);
                        return false;
                    }
                })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    ul.css('width', '400px');
                    ul.css('position', 'absolute')
                    ul.css('z-index', '1600');


                    return $('<li style="position:relative;z-index:1500;" >')
                        .append("<div>" +
                            '<img height="50px" width="50px" style="object-fit: cover;" src = "' + item.thumbnailUrl + '"/>' +
                            "<span>" + item.name + "</span>" +
                            "</div>")
                        .appendTo(ul);
                };
        });
    </script>


}
