﻿@model GameEx.Models.InventoryItem

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h3>Are you sure you want to delete this item?</h3>
</div>
<div>
    <hr />
    @if (ViewBag.ActiveRentalsCount > 0)
    {
<div class="row">
    <div class="col-12 text-center text-danger">
        <span>You have @ViewBag.ActiveRentalsCount active rentals of this game. Deleting this inventory item will also delete those rentals!</span>
    </div>
</div>
    }
    <dl class="row">
        <dd class="col-sm-12 text-center">
            <img src="@Model.Game.PhotoUrl" height="200px" />
        </dd>
        <dt class="col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt class="col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-6 text-right">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="GameId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </form>
</div>
