﻿@model GameEx.Models.InventoryItem

@{
    ViewData["Title"] = "Details";
    int available = ViewBag.availableStatus;
}
    <div class="d-flex align-items-center">
        <div class="mr-3">
            <a asp-controller="Renter" asp-action="Details" asp-route-id="@Model.RenterId"><span class="fa-2x fa fa-arrow-left"></span></a>

        </div>
        <div class="flex-grow-1">
            <h1>@Model.Game.Name</h1>
        </div>
    </div>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-7">
            <img src="@Model.Game.PhotoUrl" style="max-height:500px;max-width:100%" />
        </dt>

        <dd class="col-sm-5">
            <div>
                <h3>Price: @Html.DisplayFor(model => model.Price) $</h3>
            </div>
            <div class="scrollable" style="max-height:500px; overflow:scroll">
                @Html.Raw(Model.Game.Description)
            </div>
            <div>
                <h6>For rental by: @Model.Renter.CompanyName</h6>
            </div>
            <div>
                @if (available <= 0)
                {
                    <span class="text-danger">Out of stock!</span>
                }
                else if (available < 10 && available > 0)
                {
                    <span class="text-warning">Only @available available in stock!</span>
                }
                else
                {
                    <span class="text-success">In stock!</span>
                }

            </div>
            <div class="mt-3">
                @if (available > 0)
                {
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.GameId"
                       asp-route-renterId="@Model.RenterId"
                       class="btn btn-warning text-white"><span class="fa fa-shopping-cart mr-2"></span>Add to cart</a>
                }
                else
                {
                    <a class="btn btn-danger text-white">Out of stock</a>
                }
            </div>
        </dd>
    </dl>
</div>

