﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.Models.InventoryItem>
@{ ViewData["Title"] = "My Inventory"; }
@inject Microsoft.AspNetCore.Identity.UserManager<User> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    string imgDataURL = null;
    var byteData = user.ProfileImage;
    if (byteData != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteData);
        imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
    }
}

@section Sidebar{
    <div>
        <nav class="sidenav">
            <div>

                <div class="text-center">
                    <img src="@imgDataURL" class="avatar" />
                </div>
                <div class="text-center text-white">
                    <h3>@user.UserName</h3>
                </div>
                <div class="text-center text-secondary">
                    <h6>@Html.DisplayFor(model => user.Email)</h6>
                </div>
            </div>
            <hr />
            @if (User.Identity.Name == user.UserName)
            {
                <a class="bg-secondary" asp-controller="InventoryItems" asp-action="Index">Inventory</a>
                <a href="../../Identity/Account/Manage">Edit account</a>
                <a id="edit-tab" asp-action="Edit" asp-controller="Renter" asp-route-id="@user.Id">Edit profile</a>

            }
            <hr />
            @if (User.Identity.Name == user.UserName)
            {
                <a asp-action="Index" asp-controller="Rentals">My rentals</a>
            }
        </nav>
    </div>

}

<h1>My inventory</h1>

<p>
    <a asp-action="Create">Add new inventory item</a>
</p>

<div class="row">
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
    <table class="table">
        <thead>
            <tr>
                <th style="width:15%;">

                </th>
                <th style="width:20%;">
                    Name
                </th>
                <th class="text-center">
                    Quantity
                </th>
                <th class="text-center">
                    Price
                </th>
                <th style="width: 15%;">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
<tr>
    <td style="width:15%;">
        <img width="100px" height="100px" src="@item.Game.PhotoUrl" />
    </td>
    <td style="width:20%;">
        @Html.ActionLink(item.Game.Name, "Details", new { id = item.Game.Id, renterId = item.RenterId })

    </td>
    <td class="text-center">
        @item.Quantity

    </td>
    <td class="text-center">
        @item.Price.ToString("0.00") $
    </td>
    <td style="width:15%;">
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@item.Game.Id" class="text-success fa fa-edit"></a>
        </div>
        <div class="text-center">
            <a asp-action="Details" asp-route-id="@item.Game.Id"
               asp-route-renterId="@item.RenterId"
               class="fa fa-info"></a>
        </div>
        <div class="text-center">
            <a asp-action="Delete" asp-route-id="@item.Game.Id" class="text-danger fa fa-trash"></a>
        </div>
    </td>
</tr>            }
        </tbody>
    </table>
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>