﻿@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager

@{ 
    var user = await _userManager.GetUserAsync(User);
    var isModerator = await _userManager.IsInRoleAsync(user, "Moderator");
}

<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameEx</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Font awesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="icon" href="~/img/logo.png" />
    @RenderSection("Styles", required: false)

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GameEx</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex pb-4">
        @await Component.InvokeAsync("Messages")
        <div class="flex-grow-1">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
    </div>




    <footer class="border-top footer fixed-bottom text-muted bg-white">
        <div class="container">
            <!--<img height="75px" class="text-right" src="~/img/8882bcf327896ab79fb97e85ae63a002.gif" />-->
            &copy; 2020 - GameEx - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            function split(val) {
                return val.split(/,\s*/);
            }
            function extractLast(term) {
                return split(term).pop();
            }

            $("#SearchField")
                // don't navigate away from the field on tab when selecting an item
                .on("keydown", function (event) {
                    if (event.keyCode === $.ui.keyCode.TAB &&
                        $(this).autocomplete("instance").menu.active) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    source: function (request, response) {
                        $.getJSON("/Search/Api", {
                            term: extractLast(request.term)
                        }, response);
                    },
                    focus: function () {
                        // prevent value inserted on focus
                        return false;
                    },
                    select: function (event, ui) {
                        var terms = split(this.name);
                        terms.pop();
                        terms.push(ui.item.name);
                        this.value = terms;
                        $('#SearchField').attr('value', ui.item.id);
                        return false;
                    }
                })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    ul.css('width', '400px');
                    ul.css('position', 'absolute')
                    ul.css('z-index', '1600');
                    var result = ""
                    if (item.category == "Game") {
                        result =
                            '<a class="d-block" href = /' + item.category + "/" + item.id + ">" +
                            '<div class="d-flex"><div><img class="mr-2" height="50px" width="50px" src="' + item.photoUrl + '" /></div>'
                            + '<div class="flex-grow-1">' + item.name + "<br />" + '<span class="text-secondary">' + item.category + '</span>' + "</div></div></a>"
                    } else if (item.category == "Renter" || item.category == "Player") {
                        result =
                            '<a class="d-block" href = /' + item.category + "/" + item.id + ">" +
                            '<div class="d-flex"><div><img class="mr-2" height="50px" width="50px" src="data:image/png;base64,' + item.photo + '" /></div>'
                        + '<div class="flex-grow-1">' + item.name + "<br />" + '<span class="text-secondary">' + item.category + '</span>' + "</div></div></a>"
                    } else {
                        result = '<a class="d-block d-flex" href = /' + item.category + "/" + item.id + '>' +
                             '<div style="height:50px;padding-left:60px;">'
                            + '<div>' + item.name + "<br />" + '<span class="text-secondary">' + item.category + '</span>' + "</div></div></a>"
                    }
                    return $('<li style="position:relative;z-index:1500;">')
                        .append(result)
                        .appendTo(ul);
                };
        });

    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
