﻿@model List<GroupMessage>
@{ var username = User.Identity.Name; }

@foreach (var message in Model)
{
@if (username == message.SenderUsername)
{
<div class="d-flex align-items-center" style="width:50%">
    <div class="outgoing_msg flex-grow-1">
        <div class="username_head">
            <p><b>@message.SenderUsername</b></p>
        </div>
        <div class="sent_msg">
            <p>@message.Text</p>
            <span class="time_date">@message.When</span>
        </div>
    </div>
    <div class="pl-2">
        <a class="text-danger"
           asp-controller="Chat"
           asp-action="DeleteGroupMessage"
           asp-route-id="@message.Id"><span class="fa fa-trash"></span></a>
    </div>
</div>

}
else
{
<div class="d-flex align-items-center" style="width:50%;">
    <div class="flex-grow-1">
        <div class="received_msg">
            <div class="username_head_inc">
                <p><b>@message.SenderUsername</b></p>
            </div>
            <div class="received_withd_msg">
                <p>@message.Text</p>
                <span class="time_date">@message.When</span>
            </div>
        </div>
    </div>
    <div>
        <a class="text-danger"
           asp-controller="Chat"
           asp-action="DeleteGroupMessage"
           asp-route-id="@message.Id"><span class="fa fa-trash"></span></a>
    </div>
</div>

}}