﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chat";
    var userId = ViewBag.CurrentUserId;
    var userName = User.Identity.Name;
    var groupId = ViewBag.GroupId;
}


@section Styles{
    <link rel="stylesheet" href="~/css/chat.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        #mapid {
            height: 400px;
        }

        .bottom-of-div {
            bottom: 0;
            width: 100%;
        }
    </style>
}


<div class="col-12 mt-0 mb-0 p-0">
    <form asp-action="CreateGroupMessage" asp-controller="Chat"
          data-ajax-begin="clearInputField" data-ajax-complete=""
          data-ajax-failure="alert('Fail')" data-ajax-success="sendGroupMessage"
          data-ajax="true" data-ajax-method="POST" autocomplete="off">
        <div class="pr-3 bg-light pt-3">
            <div class="row" id="chatContainer">
                <div class="col-md-12 scrollable" id="chat" style="height:80vh ;overflow-y:scroll;overflow-x:hidden">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                </div>
            </div>

        </div>
        <div class="type_msg">
            <div class="input_msg_write">
                <input id="messageText" name="Text" class="write_msg" placeholder="Type a message" />
                <button type="submit" id="submitButton" class="msg_send_btn"><i class=" fa fa-paper-plane"></i></button>
            </div>
        </div>

        <input type="hidden" value="@userId" name="senderid" />
        <input type="hidden" value="@userName" name="senderUserName" />
        <input type="hidden" value="@groupId" name="groupId" />

    </form>
</div>


@section Scripts{
    <script>
        const userName = "@ViewBag.CurrentUserName";
        const userId = "@ViewBag.CurrentUserId";
        const groupId = "@ViewBag.GroupId";
    </script>
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/groupchat.js"></script>
    <script src="~/js/InfinityScroll.js"></script>

    <script>
        var infinityScroll = new InfinitiySroll("chat", "/Groups/_MessagePartial/@groupId", { sortOrder: "ascending", searchString: "3" });
    </script>

}