﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chat";
    var userId = ViewBag.CurrentUserId;
    var userName = User.Identity.Name;
}

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...1</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...2</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...3</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...4</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            @foreach (var user in (List<User>)ViewBag.UserSet)
            {
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">@user.UserName</a>
            }
        </div>
    </div>
</div>

<div class="col-12 mt-3 mb-4">
    <form asp-action="CreateGroupMessage" asp-controller="Chat"
          data-ajax-begin="clearInputField" data-ajax-complete=""
          data-ajax-failure="alert('Fail')" data-ajax-success="sendGroupMessage"
          data-ajax="true" data-ajax-method="POST">
        <div class="card">

            <div class="card-header">
                <h6>Chat:</h6>
            </div>
            <div class="card-body p-0 m-0">
                <div class="pr-3 bg-light">
                    <div class="row" id="chatContainer">
                        <div class="col-md-12 scrollable" id="chat" style="height:40vh ;overflow-y:scroll;overflow-x:hidden">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>



                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input id="messageText" name="Text" class="write_msg" placeholder="Type a message" />
                        <button type="submit" id="submitButton" class="msg_send_btn"><i class=" fa fa-paper-plane"></i></button>
                    </div>
                </div>

                <input type="hidden" value="@userId" name="senderid" />
                <input type="hidden" value="@userName" name="senderUserName" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        const userName = "@ViewBag.CurrentUserName";
        const userId = "@ViewBag.CurrentUserId";
        const groupId = "@ViewBag.GroupId";
    </script>
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/groupchat.js"></script>
    <script src="~/js/InfinityScroll.js"></script>

    <script>
        var groupId = "";
        var infinityScroll = new InfinitiySroll("chat", "/Groups/_MessagePartial/" + groupId, { sortOrder: "ascending", searchString: "3" });
    </script>
}