﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Title"] = "Chat";
    Layout = "/Views/Chat/_LayoutModerator.cshtml";
    var userId = ViewBag.CurrentUserId;
    var userName = User.Identity.Name;
    var groupId = ViewBag.GroupId;
}


@section Styles{
    <link rel="stylesheet" href="~/css/chat.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        #mapid {
            height: 400px;
        }

        .bottom-of-div {
            bottom: 0;
            width: 100%;
        }
    </style>
}


<div class="col-12 mt-0 mb-0 p-0">
    <div class="pr-3 bg-light pt-3">
        <div class="row" id="chatContainer">
            <div class="col-md-12 scrollable" id="chat" style="height:80vh ;overflow-y:scroll;overflow-x:hidden">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>



            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/InfinityScroll.js"></script>

    <script>
        var infinityScroll = new InfinitiySroll("chat", "/Chat/_ModeratorGroupMessagePartial/@groupId", { sortOrder: "ascending", searchString: "3" });
    </script>

}