﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<string> roles = null;
    List<Game> games = ViewBag.Games;
    List<Group> groups = ViewBag.Groups;
    List<Player> players = ViewBag.Players;
    List<Renter> renters = ViewBag.Renters;
    if (ViewBag.Roles != null)
    {
        roles = ViewBag.Roles;
    }
    var query = Context.Request.Query["query"].ToString();
    if (query == null)
    {
        query = "";
    }
}

@if (games.Count() > 0)
{
    <h1>Games</h1>
    <div class="mb-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th style="width:20%;">
                        Name
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Players
                    </th>
                    <th style="width:15%;">
                        Playing time
                    </th>
                    <th>
                        Publisher
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Age
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in games)
                {
                    <tr>
                        <td>
                            <img width="100px" height="100px" src="@game.PhotoUrl" />
                        </td>
                        <td style="width:20%;">
                            <a asp-action="Details" asp-route-id="@game.Id">
                                @game.Name
                            </a>

                        </td>
                        <td>
                            @{
                                int? rating = null;
                                if (game.Rating != null)
                                {
                                    rating = (int)(game.Rating / 5 * 100);
                                }
                                var background = "";

                                if (rating < 100 && rating >= 75)
                                {
                                    background = "bg-success";
                                }
                                else if (rating < 75 && rating >= 50)
                                {
                                    background = "bg-warning";
                                }
                                else if (rating < 50)
                                {
                                    background = "bg-danger";
                                }
                                else
                                {
                                    background = "bg-secondary";
                                }
                            }
                            @if (rating != null)
                            {
                                <span class="@background text-white text-center font-weight-bold p-2"
                                      style="font-size:2rem;">
                                    @(rating.ToString())
                                </span>
                            }
                            else
                            {
                                <span class="@background text-white text-center font-weight-bold p-2"
                                      style="font-size:1.5rem;">
                                    N/A
                                </span>
                            }

                        </td>
                        <td>
                            @game.MinPlayers
                            -
                            @game.MaxPlayers
                        </td>
                        <td style="width:15%;">
                            @(game.MinPlayingTime == null ? "" : game.MinPlayingTime + " min -")
                            @(game.MaxPlayingTime == null ? "" : game.MaxPlayingTime + " min")
                        </td>
                        <!--<td>
                            @game.Designer
                        </td>-->
                        <td>
                            @game.Publisher
                        </td>
                        <td class="text-right">
                            @game.Year
                        </td>
                        <td class="text-right">
                            @(game.MinAge == null ? "" : game.MinAge + "+")
                        </td>
                        <td>
                            @if (roles != null && (roles.Contains("Moderator") || roles.Contains("Administrator")))
                            {
                                <div class="text-center">
                                    <a asp-controller="Game" asp-action="Edit" asp-route-id="@game.Id" class="text-success fa fa-edit"></a>
                                </div>
                                <div class="text-center">
                                    <a asp-controller="Game" asp-action="Delete" asp-route-id="@game.Id" class="text-danger fa fa-trash"></a>
                                </div>
                            }

                            <div class="text-center">
                                <a href="@(game.Link != null ? game.Link : "")" class="fa fa-info"></a>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        @if (ViewBag.GameCount > 5)
        {
            <a asp-controller="Game" asp-action="Index" asp-route-query="@query">View all results for games...</a>
        }
    </div>
}
@if (players.Count() > 0)
{
    <h1>Players</h1>
    <div class="mb-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User name</th>
                    <th>
                        Email
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in players)
                {
                    <tr>
                        <td style="padding-top:18px">
                            @{
                                string imgDataURL = null;
                                var byteData = item.User.ProfileImage;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }
                            }
                            <div class="list-inline-item">
                                <img src="@imgDataURL" class="avatar" />
                                @item.User.UserName
                            </div>

                        </td>
                        <td style="padding-top:18px">
                            @item.User.Email
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Profile</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (ViewBag.PlayerCount > 5)
        {
            <a asp-controller="Players" asp-action="Index" asp-route-query="@query">View all results for players...</a>
        }
    </div>

}

@if (groups.Count() > 0)
{
    <h1>Groups</h1>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Game:
                    </th>
                    <th></th>
                    <th>
                        Owner:
                    </th>
                    <th>
                        Time of playing
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in groups)
                {
                    var owner = item.GroupMembers.Where(gm => gm.Owner).FirstOrDefault();
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <div class="d-inline">
                                <img width="100px" height="100px" src="@item.Game.PhotoUrl" />
                            </div>
                        </td>
                        <td>
                            <div class="d-inline">
                                <a asp-controller="Game" asp-action="Details" asp-route-id="@item.Game.Id">
                                    @item.Game.Name
                                </a>
                            </div>
                        </td>
                        <td>
                            @owner.Player.User.UserName
                        </td>
                        <td>
                            @item.TimeOfPlaying
                        </td>
                        <td>
                            <a asp-controller="Groups" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="Groups" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="Groups" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (ViewBag.PlayerCount > 5)
        {
            <a asp-controller="Players" asp-action="Index" asp-route-query="@query">View all results for groups...</a>
        }
    </div>
}

@if (renters.Count() > 0)
{
    <h1>Renters</h1>
    <div class="mb-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Company name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Phone number
                    </th>
                    <th>
                        Web address
                    </th>
                    <th>
                        OIB
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in renters)
                {
                    <tr>
                        <td>
                            @{
                                string imgDataURL = null;
                                var byteData = item.User.ProfileImage;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }
                            }
                            <img class="avatar mr-2" src="@imgDataURL" />
                            @item.CompanyName
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @item.WebAddress
                        </td>
                        <td>
                            @item.OIB
                        </td>
                        <td>
                            @if (roles != null && (roles.Contains("Moderator") || roles.Contains("Administrator")))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>

                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                            }
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                        </td>
                    </tr>
                }
                <tr>
                </tr>
            </tbody>
        </table>
        @if (ViewBag.RenterCount > 5)
        {
            <a asp-controller="Renter" asp-action="Index" asp-route-query="@query">View all results for renters...</a>
        }
    </div>
}
