﻿@model List<GroupInvitation>


@{ string imgDataUrl = null;
    var byteDataImg = ViewBag.User.ProfileImage;
    if (byteDataImg != null)
    {
        string imreBase64Data = Convert.ToBase64String(byteDataImg);
        imgDataUrl = string.Format("data:image/png;base64,{0}", imreBase64Data);
    } }
@section Sidebar{
    <div>
        <nav class="sidenav">
            <div>

                <div class="text-center">
                    <img src="@imgDataUrl" class="avatar" />
                </div>
                <div class="text-center text-white">
                    <h3>@ViewBag.User.UserName</h3>
                </div>
                <div class="text-center text-secondary">
                    <h6>@ViewBag.User.Email</h6>
                </div>
            </div>
            <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
                <a href="../../Identity/Account/Manage">Account settings</a>
            }
            <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
                    <a asp-action="Index" asp-controller="Exchanges">My exchanges</a>
                    <a asp-action="Index" asp-controller="Rentals">My rentals</a>
                    <a  class="bg-secondary" asp-action="Index" asp-controller="GroupInvitations">Group Invitations</a>
            }
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
                <a asp-action="Index" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">My groups</a>
            }
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
                <a asp-action="Index" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">My collection</a>
            }
                <hr />
            @if (User.Identity.Name == ViewBag.User.UserName)
            {
                <a asp-action="Create" asp-controller="PlayerGames" asp-route-id="@ViewBag.User.Id">Add game to collection</a>
                <a asp-action="Create" asp-controller="Groups" asp-route-id="@ViewBag.User.Id">Create group</a>
            }
        </nav>
    </div>

}


<h1>Group invitations</h1>
<hr />
<div class="row">
    @if (Model.Count == 0)
    {
<div class="text-center col-12 mb-2">
    <h4>There are no group invitations at this moment</h4>
</div> }
else
{
<div class="col-12 mb-2">
    <h4>You are invited to @Model.Count group(s).</h4>
</div>}
    @foreach (var inv in Model)
    {
<div class="col-sm-12 col-md-6 col-4">
    <div class="card">
        <div class="card-header text-center">
            <h4>@inv.Group.Name</h4>
        </div>
        <div class="card-body">
            <dl>
                <dt>
                    Description:
                </dt>
                <dd class="mt-2">@inv.Group.Description</dd>
                <dt>Game:</dt>
                <dd class="mt-2">
                    <img src="@inv.Group.Game.ThumbnailUrl" width="75px" />
                    @inv.Group.Game.Name
                </dd>
                <dt>
                    Owner:
                </dt>
                <dd class="mt-2">
                    @{ string imgDataURL = null;
                        var byteData = inv.Group.GroupMembers[0].Player.User.ProfileImage;
                        if (byteData != null)
                        {
                            string imreBase64Data = Convert.ToBase64String(byteData);
                            imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                        } }
                    <div class="list-inline-item">
                        <img src="@imgDataURL" class="avatar" />
                        @inv.Group.GroupMembers[0].Player.User.UserName
                    </div>

                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="AcceptInvite"
               asp-route-id="@inv.Id"
               class="btn btn-success">Accept</a>
            <a asp-action="RejectInvite"
               asp-route-id="@inv.Id"
               asp-route-groupId="@inv.GroupId"
               class="btn btn-danger">Reject</a>
        </div>
    </div>
</div>}
</div>