﻿@{
    List<GameEx.ViewComponents.GroupMessageVC> gm = ViewBag.GroupMessages;
    List<GameEx.ViewComponents.MessageModeratorVC> um = ViewBag.UserMessages;
    var senderId = ViewContext.HttpContext.Request.Query["SenderId"].ToString();
    var receiverId = ViewContext.HttpContext.Request.Query["ReceiverId"].ToString();
    var groupId = ViewBag.GroupId;
    string sid = "";
    if (senderId != null)
    {
        sid = senderId.ToString();
    }
    string rid = "";
    if(receiverId != null)
    {
        rid = receiverId.ToString();
    }

}

@section Styles{ 
    <style>
        ul {
            white-space: nowrap;
        }

        li {
            display: inline;
        }
    </style>
}

<div class="scrollable" style="height:80vh;overflow-y:scroll;">
    <div class="text-center"><h6>Moderator chat</h6></div>
    <div>
        <hr />
    </div>
    <div>Groups:</div>
    <div>
        <hr />
    </div>
    @if (gm.Count == 0)
    {
        <div>There are no group messages...</div>
    }
    @foreach (var item in gm)
    {
        <div class="nav-item border-bottom">
            @if (groupId != null && item.GroupId == groupId)
            {
                <a class="nav-link active-chat" asp-controller="Chat" asp-action="MessageModeratorGroup" asp-route-id="@item.GroupId" style="width:300px;">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9" style="overflow: hidden; white-space:nowrap">
                            <div>
                                @item.GroupName
                            </div>
                            <div id="message-@item.GroupName" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis">
                                @item.Text
                            </div>
                            <div style="font-size:0.75rem;">
                                @item.When
                            </div>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a class="nav-link" asp-controller="Chat" asp-action="MessageModeratorGroup" asp-route-id="@item.GroupId" style="width:300px;">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9 text-dark" style="overflow: hidden; white-space:nowrap">
                            <div>
                                @item.GroupName
                            </div>
                            <div id="message-@item.GroupName" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis">
                                @item.Text
                            </div>
                            <div style="font-size:0.75rem;">
                                @item.When
                            </div>
                        </div>
                    </div>
                </a>
            }

        </div>
    }
    <div>
        <hr />
    </div>
    <div>
        Users:
    </div>
    <div>
        <hr />
    </div>
    @if (um.Count == 0)
    {
        <div>There are no messages with other users...</div>
    }
    @foreach (var item in um)
    {
        <div class="nav-item border-bottom">
            @if (item.SenderId == senderId && item.ReceiverId == receiverId)
            {
                <a class="nav-link active-chat" asp-controller="Chat" asp-action="MessageModeratorUser" asp-route-SenderId="@item.SenderId" asp-route-ReceiverId="@item.ReceiverId"
                   style="width:300px;">
                    <div class="row">
                        <div class="col-3 text-center d-flex align-items-center mb-2">
                            @{
                                string imgDataURL = null;
                                var byteData = item.SenderPhoto;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }
                            }
                            <img src="@imgDataURL" class="avatar" />
                        </div>
                        <div class="col-9 d-flex alig-items-center">
                            <div>
                                @item.SenderUserName
                            </div>
                        </div>
                        <div class="col-3 text-center d-flex align-items-center">
                            @{
                                imgDataURL = null;
                                byteData = item.ReceiverPhoto;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }
                            }
                            <img src="@imgDataURL" class="avatar" />
                        </div>
                        <div class="col-9 d-flex alig-items-center">
                            <div>
                                @item.ReceiverUserName
                            </div>
                        </div>
                        <div class="col-9" style="overflow: hidden; white-space:nowrap">
                            <div id="message-@item.SenderUserName" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis">
                                @item.Text
                            </div>
                            <div style="font-size:0.75rem;">
                                @item.When
                            </div>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a class="nav-link" asp-controller="Chat" asp-action="MessageModeratorUser" asp-route-SenderId="@item.SenderId"
                   asp-route-ReceiverId="@item.ReceiverId"
                   style="width:300px;">
                    <div class="row">
                        <div class="col-3 text-center d-flex align-items-center mb-2">
                            @{
                                string imgDataURL = null;
                                var byteData = item.SenderPhoto;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }
                            }
                            <img src="@imgDataURL" class="avatar" />
                        </div>
                        <div class="col-9 d-flex alig-items-center">
                            <div>
                                @item.SenderUserName
                            </div>
                        </div>
                        <div class="col-3 text-center d-flex align-items-center">
                            @{
                                imgDataURL = null;
                                byteData = item.ReceiverPhoto;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }
                            }
                            <img src="@imgDataURL" class="avatar" />
                        </div>
                        <div class="col-9 d-flex alig-items-center">
                            <div>
                                @item.ReceiverUserName
                            </div>
                        </div>
                        <div class="col-9 text-dark" style="overflow: hidden; white-space:nowrap">
                            <div id="message-@item.SenderUserName" style="white-space:nowrap;overflow:hidden;text-overflow: ellipsis">
                                @item.Text
                            </div>
                            <div style="font-size:0.75rem;">
                                @item.When
                            </div>
                        </div>
                    </div>
                </a>
            }

        </div>
    }

</div>
