﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidenav {
    box-sizing: border-box;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    float: left; /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 20px;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 19px;
        color: #fff;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #fff;
        }

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.wrapper {
    align-items:stretch
}

.black-box{
    background: linear-gradient( #fff,#022c6e,#fff),linear-gradient(#022c6e,#fff);
    height: 40vh;
    width: 100%;
}




div.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

img{
    border-radius: 8px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

div.scrollable::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

div.scrollable::-webkit-scrollbar-track {
    opacity: 0;
}

div.scrollable::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: #666;
}

div.scrollable::-webkit-scrollbar-button {
}

ul.scrollable::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

ul.scrollable::-webkit-scrollbar-track {
    opacity: 0;
}

ul.scrollable::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #666;
}

ul.scrollable::-webkit-scrollbar-button {
}

td.vertical-align-middle{
    vertical-align:middle;
}

.active-chat {
    background: #53a1fa !important;
    border-radius:0px !important;
    color:white !important;
}



.grid-sizer,
.grid-item {
    float: left;
    width: 100%;
}

.grid-item--width2 {
    width: 100%;
}

.gutter-sizer {
    width: 4%;
}

.grid-item--height2 {
    height: 100px;
}


.grid-item--width100 {
    width: 95%;
}


@media screen and (min-width: 992px) {
    .grid-sizer,
    .grid-item{
        width: 31%;
        margin: 1%
    }
    .grid-item--width2 {
        width: 63%;
    }

    .grid-item--width100 {
        width: 90%;
    }


    .grid-item--width50{
        width:40%
    }
}



