﻿@model IEnumerable<GameEx.Models.InventoryItem>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>
@{
    List<string> cnt = ViewBag.itemsRemovedNames;
}
@if (cnt.Count() != 0)
{
    <hr />
    <p>Items have been updated based on current availability:</p>
    @foreach (string it in ViewBag.itemsRemovedNames)
    {
        <p>@it</p>
    }

}

<script src="https://www.paypal.com/sdk/js?client-id=AQVV6C9eEcUm3-WbFMIktbLkSmTW-gGK9K-5Abzet0yfJ9kQ_ha3OC8TRxWufXhxhhyDgq8MbWxWxi-m">
    // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script>

<table class="table">
    <thead>
        <tr>
            <th colspan="2" style="width:55%;">
                Game
            </th>
            <th style="width:15%;">
                Renter name
            </th>
            <th style="width:15%;">
                Renter company
            </th>
            <th style="width:5%;">
                Amount
            </th>
            <th style="width:10%;">
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="100px" height="100px" src="@item.Game.PhotoUrl" />
                </td>
                <td>
                    @item.Game.Name
                </td>
                <td>
                    @item.Renter.User.UserName
                </td>
                <td>
                    @item.Renter.CompanyName
                </td>
                <td>
                    @ViewBag.wantedQuantityList[counter]
                    @{
                        counter++;
                    }
                </td>
                <td>
                    @item.Price.ToString("0.00") $
                </td>
            </tr>
        }

        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                TOTAL:
            </td>
            <td>
                @ViewBag.total.ToString("0.00") $
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                
            </td>
            <td>

            </td>
        </tr>

    </tbody>
</table>

<div class="row">
    
    <div class="col-3 mb-2" id="paypal-div"></div>
    <div class="col-9"></div>
    <div class="col-12 mb-2">
        <a asp-controller="Cart" asp-action="CancelOrder" asp-route-renterId="@ViewBag.lastVisitedRenter" class="btn btn-outline-danger">Cancel order</a>
    </div>

</div>

@section Scripts{
    <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
    <script src="~/js/paypal.js"></script>
}