﻿@model IEnumerable<GameEx.Models.InventoryItem>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>


<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="2" style="width:45%;">
                Game
            </th>
            <th style="width:15%;">
                Renter name
            </th>
            <th style="width:15%;">
                Renter company
            </th>
            <th style="width:5%;">
                Quantity
            </th>
            <th style="width:10%;">
                Price
            </th>
            <th style="width:10%;">

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="100px" height="100px" src="@item.Game.PhotoUrl" />
                </td>
                <td>
                    @item.Game.Name
                </td>
                <td>
                    @item.Renter.User.UserName
                </td>
                <td>
                    @item.Renter.CompanyName
                </td>
                <td>
                    @ViewBag.wantedQuantityList[i]
                    @{
                        i++;
                    }
                </td>
                <td>
                    @item.Price.ToString("0.00") $
                </td>
                <td>
                    <div class="text-center">
                        <a asp-action="RemoveFromCart" asp-route-id="@item.GameId" asp-route-renterId="@item.RenterId" class="text-danger fa fa-trash"></a>
                    </div>
                </td>

            </tr>
        }

        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                TOTAL:
            </td>
            <td>
                @ViewBag.total.ToString("0.00") $
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td></td>
        </tr>

    </tbody>
</table>

<div>
    <div class="text-center">
        @if (ViewBag.lastVisitedRenter != null && ViewBag.lastVisitedRenter != "")
        {
            <a asp-controller="Renter" asp-action="Details" asp-route-id="@ViewBag.lastVisitedRenter" class="btn btn-outline-dark">Continue shopping</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Return to home page</a>
        }
        <a asp-controller="Cart" asp-action="Checkout" class="btn btn-outline-primary">Proceed to checkout</a>
    </div>
</div>
