﻿@model GameEx.Models.Game

@{
    ViewData["Title"] = "Delete game";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this game?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img height="150px" src="@Html.DisplayFor(model => model.PhotoUrl)" />
        </dd>
        <dt class="col-sm-2">
            Categories:
        </dt>
        <dd class="col-sm-10">
            @foreach (var cat in Model.GameCategoryGames)
            {
                @(cat.GameCategory.Name)<br />
            }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(@Model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.Link)">@Html.DisplayFor(model => model.Link)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @{
                int? rating = null;
                if (Model.Rating != null)
                {
                    rating = (int)(Model.Rating / 5 * 100);
                }
                var background = "";

                if (rating < 100 && rating >= 75)
                {
                    background = "bg-success";
                }
                else if (rating < 75 && rating >= 50)
                {
                    background = "bg-warning";
                }
                else if (rating < 50)
                {
                    background = "bg-danger";
                }
                else
                {
                    background = "bg-secondary";
                }
            }

            <span class="@background text-white text-center font-weight-bold p-2"
                  style="font-size:2rem;">
                @(rating == null ? "N/A": rating.ToString())
            </span>
        </dd>

        <dt class="col-sm-2">
            No. of players:
        </dt>
        <dd class="col-sm-10">
            @if (Model.MinPlayers != null && Model.MaxPlayers != null)
            {
                <span>@Model.MinPlayers-@Model.MaxPlayers</span>
            }
            else
            {
                <span>N/A</span>
            }

        </dd>
        <dt class="col-sm-2">
            Playing time:
        </dt>
        <dd class="col-sm-10">
            @if (Model.MinPlayingTime != null && Model.MaxPlayingTime != null)
            {
                <span>@Model.MinPlayingTime min - @Model.MaxPlayingTime min</span>
            }
            else
            {
                <span>N/A</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            Ages:
        </dt>
        <dd class="col-sm-10">
            @(Model.MinAge + "+") 
        </dd>
        <dt class="col-sm-2">
            Categories:
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.GameCategoryGames)
            {
                @(item.GameCategory.Name + " ")

            }

        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
    </form>
</div>
