﻿@model GameEx.Models.Game

@{
    ViewData["Title"] = Model.Name;
    Layout = "_Layout.cshtml";
    List<string> roles = null;
    if (ViewBag.Roles != null)
    {
        roles = ViewBag.Roles;
    }

}


<div class="mt-4">
    <div class="black-box align-items-center d-flex">
        <div class="container d-flex align-items-center">
            <div class="polaroid">
                <img height="300px" src="@Model.PhotoUrl" />
            </div>
            <div class="flex-grow-1 p-6">
                <div class="text-white p-6 row">
                    <div class="col-3">

                    </div>
                    <div class="col-6 text-center">
                        <h3>@Model.Name</h3>
                        <span>@Html.DisplayFor(model => model.Publisher)</span>
                    </div>
                    <div class="col-3">
                        <div>
                            @{
                                int? rating = null;
                                if (Model.Rating != null)
                                {
                                    rating = (int)(Model.Rating / 5 * 100);
                                }
                                var background = "";

                                if (rating < 100 && rating >= 75)
                                {
                                    background = "bg-success";
                                }
                                else if (rating < 75 && rating >= 50)
                                {
                                    background = "bg-warning";
                                }
                                else if (rating < 50)
                                {
                                    background = "bg-danger";
                                }
                                else
                                {
                                    background = "bg-secondary";
                                }
                            }

                            <span class="@background text-white text-center font-weight-bold p-2"
                                  style="font-size:2rem;">
                                @(rating == null ? "N/A": rating.ToString())
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container text-left">
        <dl class="row">
            <dt class="col-sm-2">
                Categories:
            </dt>
            <dd class="col-sm-10">
                @foreach (var item in Model.GameCategoryGames)
                {
                    @(item.GameCategory.Name + " ")

                }

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.Description)
            </dd>
            <dt class="col-sm-2">

            </dt>
            <dd class="col-sm-10">
                <a href="@Model.Link">More info...</a>
            </dd>

            <dt class="col-sm-2">
                No. of players:
            </dt>
            <dd class="col-sm-10">
                @if (Model.MinPlayers != null && Model.MaxPlayers != null)
                {
                    <span>@Model.MinPlayers-@Model.MaxPlayers</span>
                }
                else
                {
                    <span>N/A</span>
                }

            </dd>
            <dt class="col-sm-2">
                Playing time:
            </dt>
            <dd class="col-sm-10">
                @if (Model.MinPlayingTime != null && Model.MaxPlayingTime != null)
                {
                    <span>@Model.MinPlayingTime min - @Model.MaxPlayingTime min</span>
                }
                else
                {
                    <span>N/A</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Designer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Designer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-2">
                Ages:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MinAge) +
            </dd>


        </dl>
        <div>
            @if (roles != null && (roles.Contains("Moderator") || roles.Contains("Administrator")))
            {
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
            }

            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>

</div>
<div style="height:50px;">

</div>