﻿@model GameEx.Models.Game

@{
    ViewData["Title"] = "Edit game";
    List<GameCategory> data = ViewBag.CategoryId;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Edit game</h1>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-12">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Description" class="control-label">Description (Allowed as HTML):</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Link" class="control-label">Official page URL:</label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="PhotoUrl" class="control-label">Photo URL:</label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="ThumbnailUrl" class="control-label">Thumbnail URL:</label>
                <input asp-for="ThumbnailUrl" class="form-control" />
                <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label asp-for="MinPlayers" class="control-label">Players:</label>
                <div class="input-group">
                    <input asp-for="MinPlayers" class="form-control" placeholder="Min" />
                    <input asp-for="MaxPlayers" class="form-control" placeholder="Max" />
                </div>
                <span asp-validation-for="MinPlayers" class="text-danger"></span>
                <span asp-validation-for="MaxPlayers" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label asp-for="MinPlayingTime" class="control-label">Playing time:</label>
                <div class="input-group">
                    <input asp-for="MinPlayingTime" class="form-control" placeholder="Min" />
                    <input asp-for="MaxPlayingTime" class="form-control" placeholder="Max" />
                </div>
                <span asp-validation-for="MaxPlayingTime" class="text-danger"></span>
                <span asp-validation-for="MinPlayingTime" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label asp-for="Designer" class="control-label">Designer:</label>
                <input asp-for="Designer" class="form-control" />
                <span asp-validation-for="Designer" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label asp-for="Publisher" class="control-label">Publisher:</label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label asp-for="Year" class="control-label">Year of publishing:</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <label asp-for="MinAge" class="control-label">Minimum required age:</label>
                <input asp-for="MinAge" class="form-control" />
                <span asp-validation-for="MinAge" class="text-danger"></span>
            </div>
            <div class="col-12">
                <hr />
            </div>
            <div class="form-group col-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
