﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.Models.Game>
 
@{
    ViewData["Title"] = "All games";
    Layout = "/Views/Shared/_Layout.cshtml";
    List<string> roles = null;
    if(ViewBag.Roles != null)
    {
        roles = ViewBag.Roles;
    }

}

<h1>All games</h1>

@if(roles != null && (roles.Contains("Moderator") || roles.Contains("Administrator")))
{
<p>
    <a asp-action="Create">Add new game...</a>
</p>
}
<div class="row">
    <div class="col-4">
        <form asp-action="Index" method="get" class="form-group input-group">
            <input type="text" name="query" class="form-control"/>
            <button type="submit" class="btn btn-primary input-group-append d-flex align-items-center"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-8"></div>
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">
    </cs-pager>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>

                </th>
                <th style="width:20%;">
                    Name
                </th>
                <th>
                    Rating
                </th>
                <th>
                    Players
                </th>
                <th style="width:15%;">
                    Playing time
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    Year
                </th>
                <th>
                    Age
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        <img width="100px" height="100px" src="@item.PhotoUrl" />
                    </td>
                    <td style="width:20%;">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>

                    </td>
                    <td>
                        @{
                            int? rating = null;
                            if (item.Rating != null)
                            {
                                rating = (int)(item.Rating / 5 * 100);
                            }
                            var background = "";

                            if (rating < 100 && rating >= 75)
                            {
                                background = "bg-success";
                            }
                            else if (rating < 75 && rating >= 50)
                            {
                                background = "bg-warning";
                            }
                            else if (rating < 50)
                            {
                                background = "bg-danger";
                            }
                            else
                            {
                                background = "bg-secondary";
                            }
                        }
                        @if (rating != null)
                        {
                            <span class="@background text-white text-center font-weight-bold p-2"
                                  style="font-size:2rem;">
                                @(rating.ToString())
                            </span>
                        }
                        else
                        {
                            <span class="@background text-white text-center font-weight-bold p-2"
                                  style="font-size:1.5rem;">
                                N/A
                            </span>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinPlayers)
                        -
                        @Html.DisplayFor(modelItem => item.MaxPlayers)
                    </td>
                    <td style="width:15%;">
                        @(item.MinPlayingTime == null? "": item.MinPlayingTime + " min -")
                        @(item.MaxPlayingTime == null? "": item.MaxPlayingTime + " min")
                    </td>
                    <!--<td>
                        @Html.DisplayFor(modelItem => item.Designer)
                    </td>-->
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td class="text-right">
                        @(item.MinAge == null? "": item.MinAge + "+")
                    </td>
                    <td>
                        @if (roles != null && (roles.Contains("Moderator") || roles.Contains("Administrator")))
                        {
                            <div class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-success fa fa-edit"></a>
                            </div>
                            <div class="text-center">
                                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger fa fa-trash"></a>
                            </div>
                        }

                        <div class="text-center">
                            <a href="@(item.Link != null? item.Link: "")" class="fa fa-info"></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>

