﻿@model GameEx.Models.GroupAdvert

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete group advert?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Game)
        </dt>
        <dd class="col-sm-10">
            <img width="150px" src="@Model.Group.Game.ThumbnailUrl" />
            @Html.DisplayFor(model => model.Group.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Details" asp-controller="Groups" asp-route-id="@Model.GroupId" class="btn btn-secondary">Back</a>
    </form>
</div>
