﻿@model GameEx.Models.GroupAdvert
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@{
    ViewData["Title"] = "Details";
}

@section Styles{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js">
    </script>
    <style>
        #mapid {
            height: 400px;
        }

        .bottom-of-div {
            bottom: 0;
            width: 100%;
        }
    </style>
}


<h1>Group advert</h1>
<h4>@Html.DisplayFor(model => model.Title)</h4>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Game)
        </dt>
        <dd class="col-sm-10">
            <img width="150px" src="@Model.Group.Game.ThumbnailUrl" />
            @Html.DisplayFor(model => model.Group.Game.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        @if (Model.Group.LocationXCoordinate != null && Model.Group.LocationYCoordinate != null
            && Model.Group.LocationRadius != null)
        {
            <dt class="col-sm-2">
                Playing location:
            </dt>
            <dd class="col-sm-10">
                <div class="col-12 mt-3 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h6>Playing location:</h6>
                        </div>
                        <div class="card-body m-0 p-0">
                            <div id="mapid" class="flex-grow-1">

                            </div>

                        </div>
                    </div>
                </div>

            </dd>
        }

    </dl>
</div>
<hr />
<div class="text-center">
    <a asp-action="Create" asp-controller="GroupJoinRequests" asp-route-id="@Model.GroupId" asp-route-playerId="@_userManager.GetUserId(User)" class="btn btn-outline-success">Request to join</a>
</div>


@section Scripts{

    <script>
        var map = L.map('mapid').setView([@Model.Group.LocationXCoordinate, @Model.Group.LocationYCoordinate], 14);
        mapLink =
            '<a href="https://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; ' + mapLink + ' Contributors',
            maxZoom: 18,
        }).addTo(map);
        L.circle([@Model.Group.LocationXCoordinate, @Model.Group.LocationYCoordinate],
            { radius: @Model.Group.LocationRadius }).addTo(map);
    </script>
}