﻿@model cloudscribe.Pagination.Models.PagedResult<GameEx.Models.GroupAdvert>
@inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
@{
    ViewData["Title"] = "Index";
}

<h1>Group adverts</h1>

<div class="row">
    <hr />
    <div class="col-4">
        <form asp-action="Index" method="get" class="form-group input-group">
            <input type="text" name="query" class="form-control" />
            <button type="submit" class="btn btn-primary input-group-append d-flex align-items-center"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-8"></div>

    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>


    <table class="table table-hover">
        <thead class="text-center">
            <tr>
                <th>
                    Game:
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Group)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data[0].Text)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr class="text-center">
                    <td class="vertical-align-middle">
                        <div class="d-flex align-items-center justify-content-center">
                            <div>
                                <img width="150px" src="@item.Group.Game.ThumbnailUrl" />
                            </div>
                            <div class="ml-3">
                                @item.Group.Game.Name
                            </div>
                        </div>
                    </td>
                    <td class="vertical-align-middle">
                        @Html.DisplayFor(modelItem => item.Group.Name)
                    </td>
                    <td class="vertical-align-middle">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="vertical-align-middle">
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td width="15%" class="vertical-align-middle text-center">
                        <a asp-action="Create" asp-controller="GroupJoinRequests"
                           asp-route-playerId="@_userManager.GetUserId(User)" asp-route-id="@item.GroupId" class="btn btn-sm btn-outline-success">Request to join</a>
                        <a asp-action="Details" asp-route-GroupId="@item.GroupId" class="btn btn-sm btn-outline-primary mt-2">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>
</div>