﻿@model cloudscribe.Pagination.Models.PagedResult<Renter>

    <div class="col-4">
        <form asp-action="Index" method="get" class="form-group input-group">
            <input type="text" name="query" class="form-control" />
            <button type="submit" class="btn btn-primary input-group-append d-flex align-items-center"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="col-8"></div>

    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>

    @if (ViewBag.ExceptionMessage != null)
    {
        <p>@ViewBag.ExceptionMessage</p>
    }
    @if (Model.Data.Count == 0)
    {
        <h3>There are no unconfirmed renters right now.</h3>
    }
    @foreach (var renter in Model.Data)
    {
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <div>
                        <span>
                            @{
                                string imgDataURL = null;
                                var byteData = renter.User.ProfileImage;
                                if (byteData != null)
                                {
                                    string imreBase64Data = Convert.ToBase64String(byteData);
                                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                                }

                            }
                            <img src="@imgDataURL" class="avatar" />
                        </span>
                    </div>
                    <div>
                        <h3 class="d-inline">@renter.User.UserName</h3>
                    </div>
                </div>
                <div class="card-body">
                    <table>
                        <tbody>
                            <tr>
                                <th>Email:</th>
                                <td>@renter.User.Email</td>
                            </tr>
                            <tr>
                                <th>Adress:</th>
                                <td>@renter.Address</td>
                            </tr>
                            <tr>
                                <th>Company name:</th>
                                <td>@renter.CompanyName</td>
                            </tr>
                            <tr>
                                <th>Web address:</th>
                                <td>@renter.WebAddress</td>
                            </tr>
                            <tr>
                                <th>Phone number:</th>
                                <td>@renter.PhoneNumber</td>
                            </tr>
                            <tr>
                                <th>OIB:</th>
                                <td>@renter.OIB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-end text-white">
                        <div class="m-1">
                            <a class="btn btn-danger toggle-delete-modal" data-toggle="modal" data-target="#delete-modal" data-id="@renter.Id">Delete</a>
                        </div>
                        <div class="m-1">
                            <a class="btn btn-success toggle-approve-modal" data-toggle="modal" data-target="#approve-modal" data-id="@renter.Id">Approve</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="page_number"
              asp-controller="Game"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">

    </cs-pager>

    <!--Modal for deleting renter-->
    <div id="delete-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete renter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete selected renter? All of renter data will be deleted permanently!</p>
                </div>
                <div class="modal-footer">
                    <a id="delete-modal-btn" class="btn btn-danger">Delete anyway</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal za potvrđivanje iznajmljivača-->
    <div id="approve-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Renter confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to confirm renter?</p>
                </div>
                <div class="modal-footer">
                    <a id="approve-modal-btn" class="btn btn-success">Approve</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script>
            $('.toggle-delete-modal').click(function () {
                var id = $(this).attr('data-id');
                console.log();
                var url = "/UnconfirmedRenters/Delete/" + id;
                $('#delete-modal-btn').attr('href', url);
            });
            $('.toggle-approve-modal').click(function () {
                var id = $(this).attr('data-id');
                console.log(id);
                var url = "/UnconfirmedRenters/Approve/" + id;
                $('#approve-modal-btn').attr('href', url);
            });
            $('#delete-modal-btn').click(function () {
                var id = $(this).attr('data-id');
                var url = "/UnconfirmedRenters/Delete/" + id;
                $.ajax({
                    method: "GET",
                    url: url
                });
            });

            $('#approve-modal-btn').click(function () {
                var id = $('#approve-modal-btn').data('id');
                var url = "/UnconfirmedRenters/Approve/" + id;
                $.ajax({
                    method: "GET",
                    url: url
                });
            });
        </script>
    }